<!--
##############################################
#                                            #
#     Copyright, this script is owned by     #
#        MoneySmart Investment Group         #
#                                            #
#                                            #
#      M   M     SSS     IIIII     GGG       #
#      MM MM    S   S      I      G   G      #
#      MM MM    S          I      G          #
#      M M M     SSS       I      GGGGG      #
#      M   M        S      I      G   G      #
#      M   M    S   S      I      G   G      #
#      M   M     SSS     IIIII     GGG       #
#                                            #
#                                            #
#             All right reserved             #
# https://www.moneysmartinvestmentgroup.com  #
#                                            #
##############################################
--> 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/msig-tech/msig-w3-css/msig.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nanum Gothic|Old Standard TT|Suez One|IM Fell English SC">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <script src="../../static/js/header-footer-loader-template.js"></script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

    <title>MSIG - MoneySmart Investment Group</title>
</head>

<body>

<div class="w3-display-bottomright" style="position: fixed; bottom: 20px; right: 20px;">
    <div id="google_translate_element"></div>
</div>

<div id="header"></div>


<div class="w3-container msig-padding-top-title">

    <div class="w3-padding-48">
        <div class="w3-container">
            <h1 class="w3-panel w3-center msig-text-default">
                Programme de Référencement de MoneySmart Investment Group
            </h1>
        </div>

        <div class="msig-card-gold w3-margin">
            <div class="w3-container">
                <p class="msig-justify">
                    Notre programme de référencement vous offre la possibilité de bénéficier de commissions réduites et de maximiser vos rendements en invitant d'autres investisseurs à rejoindre notre communauté.
                </p>
                <h4 class="msig-padding-top msig-text-gold">Comment ça marche</h4>
                <p class="msig-justify">
                    Lorsque vous référez d'autres investisseurs à MoneySmart Investment Group, vous les ajoutez à votre réseau. Tout investisseur référé par vous, ainsi que ceux qu'ils référent à leur tour, et ainsi de suite, font partie de votre réseau.
                </p>
                <h4 class="msig-padding-top msig-text-gold">Avantages du Programme de Référencement</h4>
                <h6 class="msig-text-gold w3-margin">Réductions de Commissions</h6>
                <p class="msig-justify w3-margin">
                    Chaque solde de chaque membre de votre réseau contribue à la réduction des commissions que vous devez payer à MoneySmart Investment Group. Plus votre réseau est étendu, plus les commissions diminuent, jusqu'à un minimum de 10%.
                </p>
                <h6 class="msig-text-gold w3-margin">Croissance Accrue</h6>
                <p class="msig-justify w3-margin">
                    En augmentant votre réseau, vous augmentez également la valeur totale prise en compte pour le calcul des réductions de commissions. Cette augmentation de la valeur totale prise en compte peut conduire à des gains plus importants et à une croissance plus rapide de vos investissements, grâce à une diminution proportionnelle des commissions que vous devez payer.
                </p>
                <h6 class="msig-text-gold w3-margin">Solidarité Financière</h6>
                <p class="msig-justify w3-margin">
                    En invitant d'autres investisseurs à se joindre à notre communauté, vous contribuez à créer un réseau solidaire où chacun peut bénéficier des succès des autres et où nous travaillons ensemble pour atteindre nos objectifs financiers. Cette solidarité financière renforce notre communauté et favorise une croissance collective.
                </p>
                <h4 class="msig-padding-top msig-text-gold">Comment Démarrer</h4>
                <p class="msig-justify">
                    Pour commencer à bénéficier de notre programme de référencement, il vous suffit d'inviter d'autres investisseurs à rejoindre MoneySmart Investment Group en utilisant votre lien de référence unique. Une fois inscrits, ils feront automatiquement partie de votre réseau. Dès qu'ils commenceront à investir, ils contribueront ainsi à la croissance de votre Solde Total et à la réduction de vos commissions.
                </p>
                <h4 class="msig-padding-top msig-text-gold">Fonctionnement du Référencement et Calcul des Commissions</h4>
                <p class="msig-justify">
                    Le référencement est une option non obligatoire, mais qui peut considérablement accélérer le processus de gains pour nos investisseurs. Lorsque vous référez d'autres investisseurs à MoneySmart Investment Group, vous créez un réseau de membres interconnectés. Chaque fois qu'un membre de votre réseau réalise des gains, une portion de ces gains est déduite sous forme de commissions. Grâce au référencement, ces commissions peuvent être réduites de manière significative et vous offrir également la possibilité de générer des gains supplémentaires sur les commissions payées par les membres de votre réseau.
                </p>
                <h6 class="msig-padding-top msig-text-gold">Rabais sur les commissions</h6>
                <p class="msig-justify w3-margin">
                    Le calcul des commissions se base sur la valeur totale du Portefeuille, qui comprend à la fois votre propre portefeuille personnel et ceux de tous les membres de votre réseau. Plus votre réseau s'agrandit, plus la valeur totale du Portefeuille considéré pour le calcul des commissions augmente.
                </p>
                <p class="msig-justify w3-margin">
                    Définition des termes utilisés : 
                    <ul>
                        <li>Solde Personnel Total = Valeur totale du Portefeuille virtuel + Valeur totale du portefeuille actif personnel</li>
                        <li>Solde du Réseau = Valeur totale du Portefeuille virtuel + Valeur totale du portefeuille actif des personnes référés</li>
                        <li>Solde Total = Solde Personnel Total + Solde du Réseau</li>
                    </ul>
                </p>
                <p class="msig-justify w3-margin">
                    Les commissions sont calculées en fonction du Solde Total, définie comme suit :
                    <ul>
                        <li>Taux de base de 30% sur chaque gain.</li>
                        <li>Lorsque le Solde Total atteint 10 000$, une diminution de 0.0002% sera déduite par tranche de 1$ jusqu’à un minimum de 10% en commissions.</li>                        
                    </ul>
                </p>
                <p class="msig-justify w3-margin">
                    Ainsi, pour bénéficier d'une réduction des commissions à 10%, les membres doivent atteindre un Solde Total de 100 000$. Une fois ce seuil atteint, le taux de commissions est ajusté au minimum, soit à 10%, offrant ainsi des avantages significatifs aux membres parvenant à développer leur Solde Total à ce niveau. Cette réduction des commissions constitue un incitatif puissant pour les membres à étendre leur réseau et à accroître leur Solde Total, ce qui peut conduire à une croissance financière accrue et à des gains plus importants sur leurs investissements.
                </p>
                <h6 class="msig-padding-top msig-text-gold">Génération de gains sur les commissions</h6>
                <p class="msig-justify w3-margin">
                    Notre programme de référencement offre également des avantages progressifs à nos membres en fonction de la croissance de leur portefeuille. Lorsque le membre a atteint le maximum de rabais sur les commissions, il est éligible à la génération de gains sur les commissions.
                </p>
                <p class="msig-justify w3-margin">
                    À chaque palier doublé, le membre a droit à un pourcentage des commissions payées par l'ensemble de son réseau. Cette incitation encourage nos membres à développer activement leur réseau, leur offrant ainsi des avantages continus à mesure que leur portefeuille global s'accroît.
                </p>
                <p class="msig-justify w3-margin">
                    Voici les paliers ainsi que leurs bénéfices :
                    <ul>
                        <li>200 000$ <span class="material-symbols-outlined msig-icon-middle">line_end_arrow_notch</span>1%</li>
                        <li>400 000$ <span class="material-symbols-outlined msig-icon-middle">line_end_arrow_notch</span>2%</li>
                        <li>800 000$ <span class="material-symbols-outlined msig-icon-middle">line_end_arrow_notch</span>3%</li>
                        <li>1 600 000$ <span class="material-symbols-outlined msig-icon-middle">line_end_arrow_notch</span>4%</li>
                        <li>3 200 000$ <span class="material-symbols-outlined msig-icon-middle">line_end_arrow_notch</span>5%</li>
                    </ul>
                </p>
                <p class="msig-justify w3-margin">
                    Les paiements se font automatiquement dans les stratégies où sont générés les gains, dès que le gain est confirmé. Cela signifie que les gains sont réinvestis instantanément et déjà au travail dans la stratégie, ce qui permet une croissance continue de votre portefeuille. Cette automatisation assure une utilisation efficace des gains et maximise les opportunités d'investissement pour une croissance optimale de votre capital.
                </p>
                
                <h4 class="msig-padding-top msig-text-gold">Note Importante</h4>
                <p class="msig-justify">
                    Les avantages du programme de référencement sont cumulatifs et s'ajoutent aux autres réductions de commissions que vous pouvez obtenir en fonction de votre Solde Personnel Total. Les totaux sont mis à jour dynamiquement, autant à la hausse qu'à la baisse, ce qui signifie que les rabais sur les commissions et la génération de gains sur les commissions sont ajustés en temps réel pour refléter les changements dans la valeur de votre portefeuille. N'hésitez pas à contacter notre équipe si vous avez des questions sur le fonctionnement du programme de référencement ou sur la manière de l'utiliser pour maximiser vos gains.
                </p>
            </div>
        </div>
        
    </div>

</div>

<div id="footer"></div>

