<!--
##############################################
#                                            #
#     Copyright, this script is owned by     #
#        MoneySmart Investment Group         #
#                                            #
#                                            #
#      M   M     SSS     IIIII     GGG       #
#      MM MM    S   S      I      G   G      #
#      MM MM    S          I      G          #
#      M M M     SSS       I      GGGGG      #
#      M   M        S      I      G   G      #
#      M   M    S   S      I      G   G      #
#      M   M     SSS     IIIII     GGG       #
#                                            #
#                                            #
#             All right reserved             #
# https://www.moneysmartinvestmentgroup.com  #
#                                            #
##############################################
--> 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/msig-tech/msig-w3-css/msig.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nanum Gothic|Old Standard TT|Suez One|IM Fell English SC">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <script src="../../static/js/header-footer-loader-template.js"></script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

    <title>MSIG - MoneySmart Investment Group</title>
</head>

<body>

<div class="w3-display-bottomright" style="position: fixed; bottom: 20px; right: 20px;">
    <div id="google_translate_element"></div>
</div>

<div id="header"></div>


<div class="w3-container msig-padding-top-title">

    <div class="w3-padding-48">
        <div class="w3-container">
            <h1 class="w3-panel w3-center msig-text-default">
                MoneySmart Investment Group Referral System
            </h1>
        </div>
            
        <div class="msig-card-gold w3-margin">
            <div class="w3-container">
                <p class="msig-justify">
                    Our Referral System offers you the opportunity to benefit from reduced commissions and maximize your returns by inviting other investors to join our community.
                </p>

                <h4 class="msig-padding-top msig-text-gold">
                    How It Works
                </h4>
                <p class="msig-justify">
                    When you refer other investors to MoneySmart Investment Group, you add them to your network. Any investor referred by you, as well as those they refer in turn, and so on, are part of your network.
                </p>

                <h4 class="msig-padding-top msig-text-gold">
                    Referral System Benefits
                </h4>
                <h6 class="msig-text-gold">
                    Commission Reductions
                </h6>
                <p class="msig-justify w3-margin">
                    Every balance from each member in your network contributes to reducing the commissions you owe to MoneySmart Investment Group. The larger your network, the lower the commissions, down to a minimum of 10%.
                </p>
                <h6 class="msig-text-gold">
                    Increased Growth
                </h6>
                <p class="msig-justify w3-margin">
                    By expanding your network, you also increase the total value considered for calculating commission reductions. This increase in the total value considered can lead to larger gains and faster growth of your investments, thanks to a proportional decrease in the commissions you need to pay.
                </p>
                <h6 class="msig-text-gold">
                    Financial Solidarity
                </h6>
                <p class="msig-justify w3-margin">
                    By inviting other investors to join our community, you contribute to creating a network of solidarity where everyone can benefit from each other's successes and where we work together to achieve our financial goals. This financial solidarity strengthens our community and promotes collective growth.
                </p>     
                        
                <h4 class="msig-padding-top msig-text-gold">
                    Getting Started
                </h4>
                <p class="msig-justify">
                    To start benefiting from our referral program, simply invite other investors to join MoneySmart Investment Group using your unique referral link. Once they sign up, they will automatically become part of your network. As they start investing, they will contribute to the growth of your Total Balance and the reduction of your commissions.
                </p>

                <h4 class="msig-padding-top msig-text-gold">
                    Referral Process and Commission Calculation
                </h4>
                <p class="msig-justify">
                    Referral is an optional but highly rewarding feature that can significantly expedite the earning process for our investors. When you refer other investors to MoneySmart Investment Group, you create a network of interconnected members. Each time a member in your network earns gains, a portion of those gains is deducted as commissions. Through referrals, these commissions can be substantially reduced, providing you with the opportunity to generate additional earnings on the commissions paid by members of your network.
                </p>            
                <h6 class="msig-padding-top msig-text-gold">Commission Discounts</h6>
                <p class="msig-justify w3-margin">
                    Commission calculation is based on the Total Wallet value, which includes both your own Personnal Wallet and those of all members in your network. As your network expands, the Total Wallet value considered for commission calculation increases.
                </p>
                <p class="msig-justify w3-margin">
                    Definition of terms used:
                    <ul>
                        <li>Total Personal Balance = Total value of the Virtual Wallet + Total value of Personnal Active Wallet</li>
                        <li>Network Balance = Total value of the Virtual Wallet + Total value of referred persons' active Wallet</li>
                        <li>Total Balance = Total Personal Balance + Network Balance</li>
                    </ul>
                </p>
                <p class="msig-justify w3-margin">
                    Commissions are calculated based on the Total Balance, defined as follows:
                    <ul>
                        <li>Base rate of 30% on each gain.</li>
                        <li>When the Total Balance reaches $10,000, a reduction of 0.0002% will be deducted per $1 until a minimum of 10% in commissions.</li>                        
                    </ul>
                </p>
                <p class="msig-justify w3-margin">
                    Therefore, to qualify for a commission reduction to 10%, members must reach a Total Balance of $100,000. Once this threshold is reached, the commission rate is adjusted to the minimum of 10%, thus offering significant benefits to members who manage to develop their Total Balance to this level. This reduction in commissions serves as a powerful incentive for members to expand their network and increase their Total Balance, which can lead to increased financial growth and larger gains on their investments.
                </p>                           
                <h6 class="msig-padding-top msig-text-gold">Commission Earnings Generation</h6>
                <p class="msig-justify w3-margin">
                    Our referral program also offers progressive benefits to our members based on the growth of their portfolio. When the member has reached the maximum commission discounts, they become eligible for commission earnings generation.
                </p>
                <p class="msig-justify w3-margin">
                    At each doubled tier, the member is entitled to a percentage of the commissions paid by their entire network. This incentive encourages our members to actively expand their network, providing them with ongoing benefits as their overall portfolio grows.
                </p>
                <p class="msig-justify w3-margin">
                    Here are the tiers and their benefits:
                    <ul>
                        <li>$200,000 <span class="material-symbols-outlined msig-icon-middle">line_end_arrow_notch</span> 1%</li>
                        <li>$400,000 <span class="material-symbols-outlined msig-icon-middle">line_end_arrow_notch</span> 2%</li>
                        <li>$800,000 <span class="material-symbols-outlined msig-icon-middle">line_end_arrow_notch</span> 3%</li>
                        <li>$1,600,000 <span class="material-symbols-outlined msig-icon-middle">line_end_arrow_notch</span> 4%</li>
                        <li>$3,200,000 <span class="material-symbols-outlined msig-icon-middle">line_end_arrow_notch</span> 5%</li>
                    </ul>
                </p>
                <p class="msig-justify w3-margin">
                    Payments are made automatically in the strategies where gains are generated, as soon as the gain is confirmed. This means that gains are reinvested instantly and already at work in the strategy, enabling continuous growth of your portfolio. This automation ensures efficient use of gains and maximizes investment opportunities for optimal capital growth.
                </p>

                <h4 class="msig-padding-top msig-text-gold">Important Note</h4>
                <p class="msig-justify">
                    The benefits of the referral program are cumulative and are added to any other commission discounts you may receive based on your Total Personal Balance. Totals are updated dynamically, both upward and downward, meaning that commission discounts and commission earnings generation are adjusted in real-time to reflect changes in your portfolio value. Feel free to contact our team if you have any questions about how the referral program works or how to use it to maximize your earnings.
                </p>                    
            </div>
        </div>        
    </div>
    
</div>

<div id="footer"></div>

