<!--
##############################################
#                                            #
#     Copyright, this script is owned by     #
#        MoneySmart Investment Group         #
#                                            #
#                                            #
#      M   M     SSS     IIIII     GGG       #
#      MM MM    S   S      I      G   G      #
#      MM MM    S          I      G          #
#      M M M     SSS       I      GGGGG      #
#      M   M        S      I      G   G      #
#      M   M    S   S      I      G   G      #
#      M   M     SSS     IIIII     GGG       #
#                                            #
#                                            #
#             All right reserved             #
# https://www.moneysmartinvestmentgroup.com  #
#                                            #
##############################################
--> 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/msig-tech/msig-w3-css/msig.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nanum Gothic|Old Standard TT|Suez One|IM Fell English SC">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <script src="../../static/js/header-footer-loader-template.js"></script>

    <title>MSIG - MoneySmart Investment Group</title>
</head>

<body>

    <div id="header"></div>

    <div class="w3-container msig-padding-top-title">

        <div class="w3-padding-48">
            <div class="msig-card-gold w3-margin">

                <div class="w3-container">

                    <h1 class="w3-panel w3-center">C'est quoi une Crypto-Monnaie ?</h1>
                        <p class="w3-panel w3-center">
                            Une crypto-monnaie est un système de paiement numérique qui ne s'appuie pas sur les banques pour vérifier les transactions. Il s'agit d'un système de partage P2P (peer-to-peer) permettant à tout le monde d'envoyer et de recevoir des paiements n'importe où. Lorsque tu transfères des fonds en crypto monnaies, les transactions sont enregistrées dans un registre public. Les crypto-monnaies sont stockées dans des portefeuilles numériques.   
                        </p>
                </div>
            </div>
        </div>



        <div class="w3-padding-48">
            <div class="msig-card-gold w3-margin">
                <div class="w3-container">
                    <h1 class="w3-panel w3-center">
                    Nos services en Crypto-Monnaie
                    </h1>
                    <div class="w3-row-padding">
                        <div class="w3-quarter">
                            <div class="msig-card w3-margin">
                                <div class="w3-container">
                                    <h3 class="w3-center">
                                    Vente
                                    </h3>

                                    <div class="w3-container">
                                        <p>
                                            Gardons ça simple, vente de crypto les plus populaire.  
                                        </p>

                                        <p>
                                            Grâce aux virements internationnaux, il est possible pour MSIG d'accepter plusieurs devises populaire, comme les Dollars USD, CAD, NZD ainsi que les Euros.  Tu peux communiquer avec nous pour plus de détails. 
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="msig-card w3-margin">
                                <div class="w3-container">
                                    <h3 class="w3-center">
                                    Bruce Whale
                                    </h3>

                                    <div class="w3-container">
                                        <p>
                                            Bruce Whale sera un outil puissant dans le domaine du trading. Il sera d'abord développé pour le marché de la crypto ainsi que le marché du Forex. Il sera un atout pour toute personne débutante dans le milieu jusqu'aux plus expérimentés. 
                                        </p>
                                        
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="w3-quarter">
                            <div class="msig-card w3-margin">
                                <div class="w3-container">
                                    <h3 class="w3-center">
                                    Stacking
                                    </h3>

                                    <div class="w3-container">
                                        <p>
                                            Le stacking est le processus qui consiste à détenir des fonds dans un wallet crypto pour soutenir les opérations du réseau d'une blockchain. Fondamentalement, il consiste à verrouiller ses crypto-actifs pour recevoir des récompenses.
                                        </p>

                                        <p>
                                            Le Stacking sera offert en pool.  Nous en sommes au développement de la base de données afin de bien gérer les connexions pour l'affichage en temps réel. 
                                        </p>
                                    </div>
                                </div>
                            </div> 
                        </div>

                        <div class="w3-quarter">
                            <div class="msig-card w3-margin">
                                <div class="w3-container">
                                    <h3 class="w3-center">
                                    Farming 
                                    </h3>

                                    <div class="w3-container">
                                        <p>
                                            Le farming désigne la génération de revenus passifs à partir de crypto-actifs que l'on est prêt à immobiliser sur une plateforme. C'est un moyen puissant de tirer profit des plateformes DeFi, mais il comporte énormément de risques.
                                        </p>

                                        <p>
                                            Le farming sera offert en pool.  Nous en sommes au développement de la base de données afin de bien gérer les connexions pour l'affichage en temps réel. 
                                        </p>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="w3-quarter">
                            <div class="msig-card w3-margin">
                                <div class="w3-container">
                                    <h3 class="w3-center">
                                    Cloud mining
                                    </h3>

                                    <div class="w3-container">
                                        <p>
                                            Le Cloud Mining est aujourd'hui une alternative au minage traditionnel bien connu par la communauté crypto. Souvent décriée ou incompris, cette alternative présente tout de même de nombreux avantages notamment celui de pouvoir investir à partir de sommes raisonnables permettant au plus débutant de s'initier progressivement au monde du minage.
                                        </p>

                                        <p>
                                            Nous avons déjà 2 machines qui fonctionnent depuis quelques mois.  Nous travaillons sur le développement des connexions pour un affichage en temps réel. 
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="w3-padding-48">
            <div class="msig-card-gold w3-margin">
        
                <div class="w3-container">
                    <h1 class="w3-panel w3-center">Status des services</h1>
                    
                    <table class="msig-table-all msig-margin-bottom">
                        <thead>
                            <tr>
                                <th class="msig-h44">Nom du service</th>
                                <th class="msig-h44">Description</th>
                                <th class="msig-center msig-h44">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Crypto Vente</td>
                                <td>Présentement suspendus à cause des régulations</td>
                                <td class="msig-center"><span class="msig-circle-red"></span></td>
                            </tr>
                            <tr>
                                <td>Crypto Stacking</td>
                                <td>Présentement en développement</td>
                                <td class="msig-center"><span class="msig-circle-red"></span></td>
                            </tr>
                            <tr>
                                <td>Crypto Farming</td>
                                <td>Présentement en développement</td>
                                <td class="msig-center"><span class="msig-circle-red"></span></td>
                            </tr>
                            <tr>
                                <td>Crypto Cloud Mining</td>
                                <td>Les machines sont éteinte pour l'instant</td>
                                <td class="msig-center"><span class="msig-circle-red"></span></td>
                            </tr>
                            <tr>
                                <td>Crypto Bruce Whale</td>
                                <td>Présentement suspendus à cause des régulations</td>
                                <td class="msig-center"><span class="msig-circle-red"></span></td>
                            </tr>
                            <tr>
                                <td>Crypto Gestion de fonds</td>
                                <td>Présentement en évaluation</td>
                                <td class="msig-center"><span class="msig-circle-red"></span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div id="footer"></div>

