<!--
##############################################
#                                            #
#     Copyright, this script is owned by     #
#        MoneySmart Investment Group         #
#                                            #
#                                            #
#      M   M     SSS     IIIII     GGG       #
#      MM MM    S   S      I      G   G      #
#      MM MM    S          I      G          #
#      M M M     SSS       I      GGGGG      #
#      M   M        S      I      G   G      #
#      M   M    S   S      I      G   G      #
#      M   M     SSS     IIIII     GGG       #
#                                            #
#                                            #
#             All right reserved             #
# https://www.moneysmartinvestmentgroup.com  #
#                                            #
##############################################
--> 

{% extends "fr/maintemplate.html" %}

{% block content %}

<div class="w3-padding-48">
    <div class="msig-card-gold w3-margin">

        <div class="w3-container">

            <h1 class="w3-panel w3-center">C'est quoi le Forex ?</h1>
                <p class="w3-panel w3-center">
                    Aussi connu sous le nom de marché des changes, FX ou trading des devises, il est un marché international décentralisé où sont échangées toutes les devises mondiales. Le marché du Forex est le plus important marché liquide au monde avec un volume moyen de trading journalier excédant 5 trillions de dollars.
                </p>
        </div>
    </div>
</div>


<div class="w3-padding-48">
    <div class="msig-card-gold w3-margin">
        <h1 class="w3-panel w3-center">
        MSIG et le Forex
        </h1>
        <div class="w3-row-padding">
            <div class="w3-quarter">
                <div class="msig-card w3-margin">
                    <div class="w3-container">
                        <h3 class="w3-center">
                        Nos stratégies
                        </h3>

                        <div class="w3-container">
                            <p>
                                Nos créations, nos critères, nos rendements. Nous travaillons au développement de nos propres algorithmes selon nos conditions. Énormément de travail et de temps pour confirmer nos stratégies testées en mode réel selon plusieurs variables du marché.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="w3-quarter">
                <div class="msig-card w3-margin">
                    <div class="w3-container">
                        <h3 class="w3-center">
                        Shadow Trading
                        </h3>

                        <div class="w3-container">
                            <p>
                                La plupart des stratégies sont en temps réel et peuvent donc être copiées d'un compte maître à plusieurs comptes clients. Ce service est disponible via la majorité de nos stratégies Forex et aussi aux membres ayant leurs propres stratégies et un bassin de clients. 
                            </p>
                        </div>
                    </div>
                </div> 
            </div>

            <div class="w3-quarter">
                <div class="msig-card w3-margin">
                    <div class="w3-container">
                        <h3 class="w3-center">
                        Prêteur
                        </h3>

                        <div class="w3-container">
                            <p>
                                Le meilleur des deux mondes, nos stratégies professionnelles jumelé avec des prêteurs de fonds privés. Normalement avec un faible investissement, c'est possible d'aller chercher des fonds intéressants grâce à ces prêteurs.
                            </p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="w3-quarter">
                <div class="msig-card w3-margin">
                    <div class="w3-container">
                        <h3 class="w3-center">
                        Stratégies tiers
                        </h3>

                        <div class="w3-container">
                            <p>
                                Utilisé pour décrire toutes stratégies ne faisant pas partie de la famille MSIG. Ces stratégies ont été étudiées sur de longues périodes avant d'être disponibles à nos membres.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

