<!--
##############################################
#                                            #
#     Copyright, this script is owned by     #
#        MoneySmart Investment Group         #
#                                            #
#                                            #
#      M   M     SSS     IIIII     GGG       #
#      MM MM    S   S      I      G   G      #
#      MM MM    S          I      G          #
#      M M M     SSS       I      GGGGG      #
#      M   M        S      I      G   G      #
#      M   M    S   S      I      G   G      #
#      M   M     SSS     IIIII     GGG       #
#                                            #
#                                            #
#             All right reserved             #
# https://www.moneysmartinvestmentgroup.com  #
#                                            #
##############################################
--> 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/msig-tech/msig-w3-css/msig.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nanum Gothic|Old Standard TT|Suez One|IM Fell English SC">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <script src="../../static/js/header-footer-loader-template.js"></script>

    <title>MSIG - MoneySmart Investment Group</title>
</head>

<body>

    <div id="header"></div>

    <div class="w3-container msig-padding-top-title">

        <div class="w3-padding-48">
            <div class="msig-card-gold w3-margin">
                <h1 class="w3-panel w3-center">
                Gestion de propriétés
                </h1>
                <div class="w3-row-padding">
                    <div class="w3-third">
                        <div class="msig-card w3-margin">
                            <div class="w3-container">
                                <h3 class="w3-center">
                                Gestion Web
                                </h3>

                                <div class="w3-container">
                                    <p>
                                        Gestion des inscriptions sur les sites de locations
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="msig-card w3-margin">
                            <div class="w3-container">
                                <h3 class="w3-center">
                                Gestion des calendriers
                                </h3>

                                <div class="w3-container">
                                    <p>
                                        Gérer la planification des disponibilités à partir des sites de locations afin d'assurer une fluidité dans les locations
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="w3-third">
                        <div class="msig-card w3-margin">
                            <div class="w3-container">
                                <h3 class="w3-center">
                                Gestion financière
                                </h3>

                                <div class="w3-container">
                                    <p>
                                        Gestion des finances complètes de parcs immobiliers
                                    </p>
                                </div>
                            </div>
                        </div> 

                        <div class="msig-card w3-margin">
                            <div class="w3-container">
                                <h3 class="w3-center">
                                Gestion des dépenses
                                </h3>

                                <div class="w3-container">
                                    <p>
                                        Gestion des dépenses reliés aux propriétés, personnelles ou en locations
                                    </p>
                                </div>
                            </div>
                        </div> 

                    </div>

                    <div class="w3-third">
                        <div class="msig-card w3-margin">
                            <div class="w3-container">
                                <h3 class="w3-center">
                                Gestion des publicités
                                </h3>

                                <div class="w3-container">
                                    <p>
                                        S'assurer d'une bonne visibilité des actifs disponibles
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="msig-card w3-margin">
                            <div class="w3-container">
                                <h3 class="w3-center">
                                Service à la clientèle
                                </h3>

                                <div class="w3-container">
                                    <p>
                                        Gestion des requêtes de la clientèle et des plaintes 
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>


        <div class="w3-padding-48">
            <div class="msig-card-gold w3-margin">
                <h1 class="w3-panel w3-center">
                Maintenance de propriétés
                </h1>
                <div class="w3-row-padding">
                    <div class="w3-quarter">
                        <div class="msig-card w3-margin">
                            <div class="w3-container">
                                <h3 class="w3-center">
                                Conduits de ventilations
                                </h3>

                                <div class="w3-container">
                                    <p>
                                        Nettoyage et maintenance des conduits de ventilation et des systèmes de climatisation
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="w3-quarter">
                        <div class="msig-card w3-margin">
                            <div class="w3-container">
                                <h3 class="w3-center">
                                Entretien de piscine
                                </h3>

                                <div class="w3-container">
                                    <p>
                                        Assurer l'entretien et le nettoyage.
                                    </p>
                                </div>
                            </div>
                        </div> 
                    </div>

                    <div class="w3-quarter">
                        <div class="msig-card w3-margin">
                            <div class="w3-container">
                                <h3 class="w3-center">
                                Jardinage
                                </h3>

                                <div class="w3-container">
                                    <p>
                                        Prendre soin de la pelouse, plantes et arbres.<br>Nettoyage des feuilles mortes.
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="w3-quarter">
                        <div class="msig-card w3-margin">
                            <div class="w3-container">
                                <h3 class="w3-center">
                                Entretien ménager
                                </h3>

                                <div class="w3-container">
                                    <p>
                                        Nettoyage des chambres et des espaces communs. Buanderie de literie et serviettes.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="footer"></div>

