<!--
##############################################
#                                            #
#     Copyright, this script is owned by     #
#        MoneySmart Investment Group         #
#                                            #
#                                            #
#      M   M     SSS     IIIII     GGG       #
#      MM MM    S   S      I      G   G      #
#      MM MM    S          I      G          #
#      M M M     SSS       I      GGGGG      #
#      M   M        S      I      G   G      #
#      M   M    S   S      I      G   G      #
#      M   M     SSS     IIIII     GGG       #
#                                            #
#                                            #
#             All right reserved             #
# https://www.moneysmartinvestmentgroup.com  #
#                                            #
##############################################
--> 

{% extends "fr/maintemplate.html" %}

{% block content %}

<div class="w3-padding-48">
    <div class="msig-card-gold w3-margin">
        <h1 class="w3-panel w3-center">
        Gestion Immobilière
        </h1>
        <div class="w3-row-padding">
            <div class="w3-third">
                <div class="msig-card w3-margin">
                    <div class="w3-container">
                        <h3 class="w3-center">
                        Vente
                        </h3>

                        <div class="w3-container">
                            <p>
                                Vente de propriété ou terrain, principalement à Bali. Que ce soit nos propres propriétés ou celles d'autrui.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="w3-third">
                <div class="msig-card w3-margin">
                    <div class="w3-container">
                        <h3 class="w3-center">
                        Achat
                        </h3>

                        <div class="w3-container">
                            <p>
                                Achat de propriété ou terrain, principalement à Bali.<br>
                                <b>Propriétaire unique</b> ; Nous offrons la possibilité aux investisseurs intéressés de pouvoir acheter une ou des propriétés par notre intermédiaire.<br>
                                <b>Propriétaires partagés</b> ; Nous offrons la possibilité aux investisseurs d'acheter des propriétés en groupe. Dans cette condition, MSIG s'occupe de la gestion des propriétaires et chaque investisseur sera sur l'acte notarié selon les conditions pré-établies lors de la signature du contrat d'achat.
                            </p>
                        </div>
                    </div>
                </div> 
            </div>

            <div class="w3-third">
                <div class="msig-card w3-margin">
                    <div class="w3-container">
                        <h3 class="w3-center">
                        Location
                        </h3>

                        <div class="w3-container">
                            <p>
                                Location de propriété ou terrain, principalement à Bali. Que se soit nos propres propriétés ou celles d'autrui.<br>
                                <b>Locataire unique</b> ; Nous offrons la possibilité aux investisseurs intéressés de pouvoir louer une ou des propriétés par notre intermédiaire.<br>
                                <b>Locataires partagés</b> ; Nous offrons la possibilité aux investisseurs de louer des propriétés en groupe. Dans cette condition, MSIG s'occupe de la gestion des locataires et chaque investisseur sera sur l'acte notarié selon les conditions pré-établies lors de la signature du contrat de location.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

