
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/msig-tech/msig-w3-css/msig.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nanum Gothic|Old Standard TT|Suez One|IM Fell English SC">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <script src="../../static/js/header-footer-loader-template.js"></script>

    <title>MSIG - MoneySmart Investment Group</title>
</head>

<body>

    <div id="header"></div>

    <div class="w3-container msig-padding-top-title">
        <h1 class="msig-center">Status des services</h1>
    </div>

    <div class="w3-padding-48">
        <div class="msig-card-gold w3-margin">
    
            <div class="w3-container">
    
                <h2 class="w3-panel w3-center">
                Forex
                </h2>

                <table class="msig-table-all msig-margin-bottom">
                    <thead>
                        <tr>
                            <th class="msig-h44">Nom du service</th>
                            <th class="msig-h44">Description</th>
                            <th class="msig-center msig-h44">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Forex Bruce Whale</td>
                            <td>Présentement en collecte de données</td>
                            <td class="msig-center"><span class="msig-circle-red"></span></td>
                        </tr>
                        <tr>
                            <td>Forex Scalping</td>
                            <td>Présentement en évaluation</td>
                            <td class="msig-center"><span class="msig-circle-red"></span></td>
                        </tr>
                        <tr>
                            <td>Forex Figures Harmoniques</td>
                            <td>Présentement en évaluation</td>
                            <td class="msig-center"><span class="msig-circle-red"></span></td>
                        </tr>
                        <tr>
                            <td>Forex Gestion de fonds</td>
                            <td>Présentement en évaluation</td>
                            <td class="msig-center"><span class="msig-circle-red"></span></td>
                        </tr>
                        <tr>
                            <td>Forex GoldEA</td>
                            <td>En attente du procès du propriétaire de ATG</td>
                            <td class="msig-center"><span class="msig-circle-red"></span></td>
                        </tr>
                    </tbody>
                </table>
                
            </div>
        </div>
    </div>


    <div class="w3-padding-48">
        <div class="msig-card-gold w3-margin">
    
            <div class="w3-container">
    
                <h2 class="w3-panel w3-center">
                Crypto
                </h2>

                <table class="msig-table-all msig-margin-bottom">
                    <thead>
                        <tr>
                            <th class="msig-h44">Nom du service</th>
                            <th class="msig-h44">Description</th>
                            <th class="msig-center msig-h44">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Crypto Vente</td>
                            <td>Présentement suspendus à cause des régulations</td>
                            <td class="msig-center"><span class="msig-circle-red"></span></td>
                        </tr>
                        <tr>
                            <td>Crypto Stacking</td>
                            <td>Présentement en développement</td>
                            <td class="msig-center"><span class="msig-circle-red"></span></td>
                        </tr>
                        <tr>
                            <td>Crypto Farming</td>
                            <td>Présentement en développement</td>
                            <td class="msig-center"><span class="msig-circle-red"></span></td>
                        </tr>
                        <tr>
                            <td>Crypto Cloud Mining</td>
                            <td>Les machines sont éteinte pour l'instant</td>
                            <td class="msig-center"><span class="msig-circle-red"></span></td>
                        </tr>
                        <tr>
                            <td>Crypto Bruce Whale</td>
                            <td>Présentement suspendus à cause des régulations</td>
                            <td class="msig-center"><span class="msig-circle-red"></span></td>
                        </tr>
                        <tr>
                            <td>Crypto Gestion de fonds</td>
                            <td>Présentement en évaluation</td>
                            <td class="msig-center"><span class="msig-circle-red"></span></td>
                        </tr>
                    </tbody>
                </table>
                
            </div>
        </div>
    </div>


    <div class="w3-padding-48">
        <div class="msig-card-gold w3-margin">
    
            <div class="w3-container">
    
                <h2 class="w3-panel w3-center">
                Autres services
                </h2>

                <table class="msig-table-all msig-margin-bottom">
                    <thead>
                        <tr>
                            <th class="msig-h44">Nom du service</th>
                            <th class="msig-h44">Description</th>
                            <th class="msig-center msig-h44">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Gestion Immobilière</td>
                            <td>Présentement en ré-évaluation</td>
                            <td class="msig-center"><span class="msig-circle-red"></span></td>
                        </tr>
                        <tr>
                            <td>Gestion de Propriété</td>
                            <td>Présentement en ré-évaluation</td>
                            <td class="msig-center"><span class="msig-circle-red"></span></td>
                        </tr>
                        <tr>
                            <td>Santé</td>
                            <td>Disponible via ce <a class="msig-url-clean" href="https://sisimple.superpatch.com" target="_blank">lien</a></td>
                            <td class="msig-center"><span class="msig-circle-green"></span></td>
                        </tr>
                        <tr>
                            <td>Formation</td>
                            <td>Disponible via ce <a class="msig-url-clean" href="https://futures-infinity.com/signup?sponsor=186800" target="_blank">lien</a></td>
                            <td class="msig-center"><span class="msig-circle-green"></span></td>
                        </tr>
                        <tr>
                            <td>Voyage</td>
                            <td>Bientôt disponible</td>
                            <td class="msig-center"><span class="msig-circle-red"></span></td>
                        </tr>
                    </tbody>
                </table>
                
            </div>
        </div>
    </div>

    <div id="footer"></div>