<!--
##############################################
#                                            #
#     Copyright, this script is owned by     #
#        MoneySmart Investment Group         #
#                                            #
#                                            #
#      M   M     SSS     IIIII     GGG       #
#      MM MM    S   S      I      G   G      #
#      MM MM    S          I      G          #
#      M M M     SSS       I      GGGGG      #
#      M   M        S      I      G   G      #
#      M   M    S   S      I      G   G      #
#      M   M     SSS     IIIII     GGG       #
#                                            #
#                                            #
#             All right reserved             #
# https://www.moneysmartinvestmentgroup.com  #
#                                            #
##############################################
--> 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/msig-tech/msig-w3-css/msig.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nanum Gothic|Old Standard TT|Suez One|IM Fell English SC">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <script src="../../static/js/header-footer-loader-template.js"></script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

    <title>MSIG - MoneySmart Investment Group</title>
</head>

<body>

<div class="w3-display-bottomright" style="position: fixed; bottom: 20px; right: 20px;">
    <div id="google_translate_element"></div>
</div>

<div id="header"></div>

<div class="w3-container msig-padding-top-title">

    <div class="w3-padding-48">
        <div class="msig-card-gold w3-margin">

            <div class="w3-container">

                <h1 class="w3-panel w3-center">
                    What is Cryptocurrency?
                </h1>
                <p class="w3-panel w3-center">
                    Cryptocurrency is a digital payment system that does not rely on banks to verify transactions. It is a peer-to-peer (P2P) sharing system that allows anyone to send and receive payments anywhere. When you transfer funds in cryptocurrencies, the transactions are recorded in a public ledger. Cryptocurrencies are stored in digital wallets.
                </p>                
            </div>
        </div>
    </div>

    <div class="w3-padding-48">
        <div class="msig-card-gold w3-margin">
            <div class="w3-container">
                <h1 class="w3-panel w3-center">
                    Our Cryptocurrency Services
                </h1>
                <div class="w3-row-padding">
                    <div class="w3-quarter">
                        <div class="msig-card w3-margin">
                            <div class="w3-container">
                                <h3 class="w3-center">
                                    Sale
                                </h3>
                                <div class="w3-container">
                                    <p>
                                        Let's keep it simple, sale of the most popular cryptos.
                                    </p>
                                    <p>
                                        Thanks to international transfers, MSIG can accept several popular currencies, such as USD, CAD, NZD, and Euros. You can contact us for more details.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="msig-card w3-margin">
                            <div class="w3-container">
                                <h3 class="w3-center notranslate">
                                    Bruce Whale
                                </h3>
                                <div class="w3-container">
                                    <p>
                                        Bruce Whale will be a powerful tool in the trading industry. It will initially be developed for the crypto market as well as the Forex market. It will be an asset for anyone, from beginners to the most experienced.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="w3-quarter">
                        <div class="msig-card w3-margin">
                            <div class="w3-container">
                                <h3 class="w3-center notranslate">
                                    Stacking
                                </h3>
                                <div class="w3-container">
                                    <p>
                                        Stacking is the process of holding funds in a crypto wallet to support the operations of a blockchain network. Essentially, it involves locking up crypto assets to receive rewards.
                                    </p>
                                    <p>
                                        Stacking will be offered in pools. We are currently developing the database to properly manage connections for real-time display.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="w3-quarter">
                        <div class="msig-card w3-margin">
                            <div class="w3-container">
                                <h3 class="w3-center notranslate">
                                    Farming
                                </h3>
                                <div class="w3-container">
                                    <p>
                                        Farming refers to generating passive income from crypto assets that one is willing to lock up on a platform. It's a powerful way to profit from DeFi platforms, but it comes with a lot of risks.
                                    </p>
                                    <p>
                                        Farming will be offered in pools. We are currently developing the database to properly manage connections for real-time display.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="w3-quarter">
                        <div class="msig-card w3-margin">
                            <div class="w3-container">
                                <h3 class="w3-center notranslate">
                                    Cloud mining
                                </h3>
                                <div class="w3-container">
                                    <p>
                                        Cloud Mining is now an alternative to traditional mining well known by the crypto community. Often criticized or misunderstood, this alternative still has many advantages, notably the ability to invest from reasonable sums allowing even beginners to gradually initiate themselves into the mining world.
                                    </p>
                                    <p>
                                        Our intention is to build an eco-responsible mining farm.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>                                
                </div>
            </div>
        </div>
    </div>

    <div class="w3-padding-48">
        <div class="msig-card-gold w3-margin">
    
            <div class="w3-container">
                <h1 class="w3-panel w3-center">Services Status</h1>
                
                <table class="msig-table-all msig-margin-bottom">
                    <thead>
                        <tr>
                            <th class="msig-h44">Service Name</th>
                            <th class="msig-h44">Description</th>
                            <th class="msig-center msig-h44">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Crypto Sale</td>
                            <td>Currently suspended due to regulations</td>
                            <td class="msig-center"><span class="msig-circle-red"></span></td>
                        </tr>
                        <tr>
                            <td>Crypto Stacking</td>
                            <td>Currently in development</td>
                            <td class="msig-center"><span class="msig-circle-red"></span></td>
                        </tr>
                        <tr>
                            <td>Crypto Farming</td>
                            <td>Currently in development</td>
                            <td class="msig-center"><span class="msig-circle-red"></span></td>
                        </tr>
                        <tr>
                            <td>Crypto Cloud Mining</td>
                            <td>Machines are currently offline</td>
                            <td class="msig-center"><span class="msig-circle-red"></span></td>
                        </tr>
                        <tr>
                            <td>Crypto Bruce Whale</td>
                            <td>Currently suspended due to regulations</td>
                            <td class="msig-center"><span class="msig-circle-red"></span></td>
                        </tr>
                        <tr>
                            <td>Crypto Fund Management</td>
                            <td>Currently under evaluation</td>
                            <td class="msig-center"><span class="msig-circle-red"></span></td>
                        </tr>
                    </tbody>                    
                </table>
            </div>
        </div>
    </div>
</div>

<div id="footer"></div>

