<!--
##############################################
#                                            #
#     Copyright, this script is owned by     #
#        MoneySmart Investment Group         #
#                                            #
#                                            #
#      M   M     SSS     IIIII     GGG       #
#      MM MM    S   S      I      G   G      #
#      MM MM    S          I      G          #
#      M M M     SSS       I      GGGGG      #
#      M   M        S      I      G   G      #
#      M   M    S   S      I      G   G      #
#      M   M     SSS     IIIII     GGG       #
#                                            #
#                                            #
#             All right reserved             #
# https://www.moneysmartinvestmentgroup.com  #
#                                            #
##############################################
--> 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/msig-tech/msig-w3-css/msig.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nanum Gothic|Old Standard TT|Suez One|IM Fell English SC">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <script src="../../static/js/header-footer-loader-template.js"></script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

    <title>MSIG - MoneySmart Investment Group</title>
</head>

<body>

<div class="w3-display-bottomright" style="position: fixed; bottom: 20px; right: 20px;">
    <div id="google_translate_element"></div>
</div>

<div id="header"></div>

<div class="w3-container msig-padding-top-title">
    <div class="w3-padding-48">
        <div class="msig-card-gold w3-margin">
            <div class="w3-container">
                <h1 class="w3-panel w3-center">What is Forex?</h1>
                <p class="w3-panel w3-center">
                    Also known as the foreign exchange market, FX, or currency trading, it is an international decentralized market where all the world's currencies are traded. The Forex market is the largest liquid market in the world with an average daily trading volume exceeding $5 trillion.
                </p>
            </div>
        </div>
    </div>

    <div class="w3-padding-48">
        <div class="msig-card-gold w3-margin">
            <div class="w3-container">
                <h1 class="w3-panel w3-center">
                    MSIG and Forex
                </h1>
                <div class="w3-row-padding">
                    <div class="w3-quarter">
                        <div class="msig-card w3-margin">
                            <div class="w3-container">
                                <h3 class="w3-center">
                                    Our Strategies
                                </h3>
                                <div class="w3-container">
                                    <p>
                                        Our creations, our criteria, our returns. We work on developing our own algorithms based on our conditions. A lot of work and time to confirm our strategies tested in real mode according to several market variables.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="w3-quarter">
                        <div class="msig-card w3-margin">
                            <div class="w3-container">
                                <h3 class="w3-center notranslate">
                                    Shadow Trading
                                </h3>
                                <div class="w3-container">
                                    <p>
                                        Most strategies are in real-time and can therefore be copied from a master account to multiple Member accounts. This service will be available across the majority of our Forex strategies and also to Members with their own strategies and a pool of Members.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="w3-quarter">
                        <div class="msig-card w3-margin">
                            <div class="w3-container">
                                <h3 class="w3-center notranslate">
                                    Prop Firm
                                </h3>
                                <div class="w3-container">
                                    <p>
                                        The best of both worlds, our professional strategies paired with private fund lenders. Normally with a low investment, it's possible to access interesting funds through these lenders.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>                    

                    <div class="w3-quarter">
                        <div class="msig-card w3-margin">
                            <div class="w3-container">
                                <h3 class="w3-center">
                                    Third-Party Strategies
                                </h3>
                                <div class="w3-container">
                                    <p>
                                        Used to describe all strategies that are not part of the MSIG family. These strategies have been studied over long periods before being made available to our members.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </div>

    <div class="w3-padding-48">
        <div class="msig-card-gold w3-margin">
    
            <div class="w3-container">
                <h1 class="w3-panel w3-center">Services Status</h1>
                
                <table class="msig-table-all msig-margin-bottom">
                    <thead>
                        <tr>
                            <th class="msig-h44">Service Name</th>
                            <th class="msig-h44">Description</th>
                            <th class="msig-center msig-h44">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><span class="notranslate">Bruce Whale</span></td>
                            <td>Currently collecting data</td>
                            <td class="msig-center"><span class="msig-circle-red"></span></td>
                        </tr>
                        <tr>
                            <td>Scalping</td>
                            <td>Currently under evaluation</td>
                            <td class="msig-center"><span class="msig-circle-red"></span></td>
                        </tr>
                        <tr>
                            <td><span class="notranslate">Harmonic Patterns</span></td>
                            <td>Currently under evaluation</td>
                            <td class="msig-center"><span class="msig-circle-red"></span></td>
                        </tr>
                        <tr>
                            <td>Fund Management</td>
                            <td>Currently under evaluation</td>
                            <td class="msig-center"><span class="msig-circle-red"></span></td>
                        </tr>
                        <tr>
                            <td><span class="notranslate">GoldEA (ATG)</span></td>
                            <td>Awaiting ATG owner's trial</td>
                            <td class="msig-center"><span class="msig-circle-red"></span></td>
                        </tr>
                    </tbody>
                </table>
            </div>            
        </div>
    </div>
</div>
        
<div id="footer"></div>

