<!--
##############################################
#                                            #
#     Copyright, this script is owned by     #
#        MoneySmart Investment Group         #
#                                            #
#                                            #
#      M   M     SSS     IIIII     GGG       #
#      MM MM    S   S      I      G   G      #
#      MM MM    S          I      G          #
#      M M M     SSS       I      GGGGG      #
#      M   M        S      I      G   G      #
#      M   M    S   S      I      G   G      #
#      M   M     SSS     IIIII     GGG       #
#                                            #
#                                            #
#             All right reserved             #
# https://www.moneysmartinvestmentgroup.com  #
#                                            #
##############################################
--> 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/msig-tech/msig-w3-css/msig.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nanum Gothic|Old Standard TT|Suez One|IM Fell English SC">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <script src="../../static/js/header-footer-loader-template.js"></script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

    <title>MSIG - MoneySmart Investment Group</title>
</head>

<body>

<div class="w3-display-bottomright" style="position: fixed; bottom: 20px; right: 20px;">
    <div id="google_translate_element"></div>
</div>

<div id="header"></div>

    <div class="w3-container msig-padding-top-title">

        <div class="w3-padding-48">
            <div class="msig-card-gold w3-margin">

                <div class="w3-container">

                    <h1 class="w3-panel w3-center">C'est quoi le Forex ?</h1>
                        <p class="w3-panel w3-center">
                            Aussi connu sous le nom de marché des changes, FX ou trading des devises, il est un marché international décentralisé où sont échangées toutes les devises mondiales. Le marché du Forex est le plus important marché liquide au monde avec un volume moyen de trading journalier excédant 5 trillions de dollars.
                        </p>
                </div>
            </div>
        </div>


        <div class="w3-padding-48">
            <div class="msig-card-gold w3-margin">
                <div class="w3-container">
                    <h1 class="w3-panel w3-center">
                    MSIG et le Forex
                    </h1>
                    <div class="w3-row-padding">
                        <div class="w3-quarter">
                            <div class="msig-card w3-margin">
                                <div class="w3-container">
                                    <h3 class="w3-center">
                                    Nos stratégies
                                    </h3>

                                    <div class="w3-container">
                                        <p>
                                            Nos créations, nos critères, nos rendements. Nous travaillons au développement de nos propres algorithmes selon nos conditions. Énormément de travail et de temps pour confirmer nos stratégies testées en mode réel selon plusieurs variables du marché.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="w3-quarter">
                            <div class="msig-card w3-margin">
                                <div class="w3-container">
                                    <h3 class="w3-center">
                                    Shadow Trading
                                    </h3>

                                    <div class="w3-container">
                                        <p>
                                            La plupart des stratégies sont en temps réel et peuvent donc être copiées d'un compte maître à plusieurs comptes clients. Ce service sera disponible via la majorité de nos stratégies Forex et aussi aux membres ayant leurs propres stratégies et un bassin de clients. 
                                        </p>
                                    </div>
                                </div>
                            </div> 
                        </div>

                        <div class="w3-quarter">
                            <div class="msig-card w3-margin">
                                <div class="w3-container">
                                    <h3 class="w3-center">
                                    Prêteur
                                    </h3>

                                    <div class="w3-container">
                                        <p>
                                            Le meilleur des deux mondes, nos stratégies professionnelles jumelé avec des prêteurs de fonds privés. Normalement avec un faible investissement, c'est possible d'aller chercher des fonds intéressants grâce à ces prêteurs.
                                        </p>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="w3-quarter">
                            <div class="msig-card w3-margin">
                                <div class="w3-container">
                                    <h3 class="w3-center">
                                    Stratégies tiers
                                    </h3>

                                    <div class="w3-container">
                                        <p>
                                            Utilisé pour décrire toutes stratégies ne faisant pas partie de la famille MSIG. Ces stratégies ont été étudiées sur de longues périodes avant d'être disponibles à nos membres.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="w3-padding-48">
            <div class="msig-card-gold w3-margin">
        
                <div class="w3-container">
                    <h1 class="w3-panel w3-center">Status des services</h1>
                    
                    <table class="msig-table-all msig-margin-bottom">
                        <thead>
                            <tr>
                                <th class="msig-h44">Nom du service</th>
                                <th class="msig-h44">Description</th>
                                <th class="msig-center msig-h44">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Forex Bruce Whale</td>
                                <td>Présentement en collecte de données</td>
                                <td class="msig-center"><span class="msig-circle-red"></span></td>
                            </tr>
                            <tr>
                                <td>Forex Scalping</td>
                                <td>Présentement en évaluation</td>
                                <td class="msig-center"><span class="msig-circle-red"></span></td>
                            </tr>
                            <tr>
                                <td>Forex Figures Harmoniques</td>
                                <td>Présentement en évaluation</td>
                                <td class="msig-center"><span class="msig-circle-red"></span></td>
                            </tr>
                            <tr>
                                <td>Forex Gestion de fonds</td>
                                <td>Présentement en évaluation</td>
                                <td class="msig-center"><span class="msig-circle-red"></span></td>
                            </tr>
                            <tr>
                                <td>Forex GoldEA</td>
                                <td>En attente du procès du propriétaire de ATG</td>
                                <td class="msig-center"><span class="msig-circle-red"></span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        
<div id="footer"></div>

