<!--
##############################################
#                                            #
#     Copyright, this script is owned by     #
#        MoneySmart Investment Group         #
#                                            #
#                                            #
#      M   M     SSS     IIIII     GGG       #
#      MM MM    S   S      I      G   G      #
#      MM MM    S          I      G          #
#      M M M     SSS       I      GGGGG      #
#      M   M        S      I      G   G      #
#      M   M    S   S      I      G   G      #
#      M   M     SSS     IIIII     GGG       #
#                                            #
#                                            #
#             All right reserved             #
# https://www.moneysmartinvestmentgroup.com  #
#                                            #
##############################################
--> 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/msig-tech/msig-w3-css/msig.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nanum Gothic|Old Standard TT|Suez One|IM Fell English SC">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <script src="../../static/js/header-footer-loader-template.js"></script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

    <title>MSIG - MoneySmart Investment Group</title>
</head>

<body>

<div class="w3-display-bottomright" style="position: fixed; bottom: 20px; right: 20px;">
    <div id="google_translate_element"></div>
</div>

<div id="header"></div>

<div class="w3-container msig-padding-top-title">
    <div class="w3-padding-48">
        <div class="msig-card-warning w3-margin">
            <div class="w3-container">
                <h1 class="w3-panel w3-center msig-text-default">
                    Real Estate Management
                </h1>
                <p class="msig-text-default msig-center">
                    This entire project section is currently under reassessment due to regulations.
                </p>                    
            </div>
        </div>
    </div>

    <div class="w3-padding-48">
        <div class="msig-card-gold w3-margin">
            <div class="w3-container">
                <h1 class="w3-panel w3-center">
                    Real Estate Management
                </h1>
                <div class="w3-row-padding">
                    <div class="w3-third">
                        <div class="msig-card w3-margin">
                            <div class="w3-container">
                                <h3 class="w3-center">
                                Selling
                                </h3>

                                <div class="w3-container">
                                    <p>
                                        Sale of property or land, primarily in Bali. Whether it's our own properties or those of others.
                                    </p>                                    
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="w3-third">
                        <div class="msig-card w3-margin">
                            <div class="w3-container">
                                <h3 class="w3-center">
                                Buying
                                </h3>

                                <div class="w3-container">
                                    <p>
                                        Purchase of property or land, primarily in Bali.<br>
                                        <b>Single Owner:</b> We offer interested investors the opportunity to purchase one or more properties through us.<br>
                                        <b>Shared Ownership:</b> We offer investors the opportunity to buy properties as a group. In this arrangement, MSIG manages the owners, and each investor will be on the deed according to the pre-established conditions at the time of signing the purchase contract.
                                    </p>                                    
                                </div>
                            </div>
                        </div> 
                    </div>

                    <div class="w3-third">
                        <div class="msig-card w3-margin">
                            <div class="w3-container">
                                <h3 class="w3-center">
                                Renting
                                </h3>

                                <div class="w3-container">
                                    <p>
                                        Rental of property or land, primarily in Bali. Whether it's our own properties or those of others.<br>
                                        <b>Single Tenant:</b> We offer interested investors the opportunity to rent one or more properties through us.<br>
                                        <b>Shared Tenants:</b> We offer investors the opportunity to rent properties as a group. In this arrangement, MSIG manages the tenants, and each investor will be on the lease according to the pre-established conditions at the time of signing the rental contract.
                                    </p>                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="w3-padding-48">

        <div class="msig-card-gold w3-margin">
            <div class="w3-container">
                <h1 class="w3-panel w3-center">
                    Property Management
                </h1>
                <div class="w3-row-padding">
                    <div class="w3-third">
                        <div class="msig-card w3-margin">
                            <div class="w3-container">
                                <h3 class="w3-center">
                                    Web Management
                                </h3>
                                <div class="w3-container">
                                    <p>
                                        Managing registrations on rental sites
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="msig-card w3-margin">
                            <div class="w3-container">
                                <h3 class="w3-center">
                                    Calendar Management
                                </h3>
                                <div class="w3-container">
                                    <p>
                                        Managing availability scheduling from rental sites to ensure smooth rentals
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="w3-third">
                        <div class="msig-card w3-margin">
                            <div class="w3-container">
                                <h3 class="w3-center">
                                    Financial Management
                                </h3>
                                <div class="w3-container">
                                    <p>
                                        Comprehensive financial management of real estate portfolios
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="msig-card w3-margin">
                            <div class="w3-container">
                                <h3 class="w3-center">
                                    Expense Management
                                </h3>
                                <div class="w3-container">
                                    <p>
                                        Managing expenses related to properties, whether personal or rental
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="w3-third">
                        <div class="msig-card w3-margin">
                            <div class="w3-container">
                                <h3 class="w3-center">
                                    Advertising Management
                                </h3>
                                <div class="w3-container">
                                    <p>
                                        Ensuring good visibility of available assets
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="msig-card w3-margin">
                            <div class="w3-container">
                                <h3 class="w3-center">
                                    Customer Service
                                </h3>
                                <div class="w3-container">
                                    <p>
                                        Handling customer queries and complaints
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    </div>


    <div class="w3-padding-48">
        <div class="msig-card-gold w3-margin">
            <div class="w3-container">
                <h1 class="w3-panel w3-center">
                    Property Maintenance
                </h1>
                <div class="w3-row-padding">
                    <div class="w3-quarter">
                        <div class="msig-card w3-margin">
                            <div class="w3-container">
                                <h3 class="w3-center">
                                    Ventilation Ducts
                                </h3>
                                <div class="w3-container">
                                    <p>
                                        Cleaning and maintenance of ventilation ducts and air conditioning systems
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="w3-quarter">
                        <div class="msig-card w3-margin">
                            <div class="w3-container">
                                <h3 class="w3-center">
                                    Pool Maintenance
                                </h3>
                                <div class="w3-container">
                                    <p>
                                        Ensuring maintenance and cleaning.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="w3-quarter">
                        <div class="msig-card w3-margin">
                            <div class="w3-container">
                                <h3 class="w3-center">
                                    Gardening
                                </h3>
                                <div class="w3-container">
                                    <p>
                                        Taking care of lawn, plants, and trees.<br>
                                        Cleaning of dead leaves.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="w3-quarter">
                        <div class="msig-card w3-margin">
                            <div class="w3-container">
                                <h3 class="w3-center">
                                    Housekeeping
                                </h3>
                                <div class="w3-container">
                                    <p>
                                        Cleaning of rooms and common areas. Laundry of bedding and towels.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                
            </div>
        </div>
    </div>
</div>

<div id="footer"></div>

