
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/msig-tech/msig-w3-css/msig.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nanum Gothic|Old Standard TT|Suez One|IM Fell English SC">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <script src="../../static/js/header-footer-loader-template.js"></script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

    <title>MSIG - MoneySmart Investment Group</title>
</head>

<body>

<div class="w3-display-bottomright" style="position: fixed; bottom: 20px; right: 20px;">
    <div id="google_translate_element"></div>
</div>

<div id="header"></div>

<div class="w3-container msig-padding-top-title">
    <h1 class="msig-center">Status des services</h1>
</div>

<div class="w3-padding-48">
    <div class="msig-card-gold w3-margin">
        <div class="w3-container">
            <h2 class="w3-panel w3-center">
                Forex
            </h2>

            <table class="msig-table-all msig-margin-bottom">
                <thead>
                    <tr>
                        <th class="msig-h44">Service Name</th>
                        <th class="msig-h44">Description</th>
                        <th class="msig-center msig-h44">Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Forex Bruce Whale</td>
                        <td>Currently in data collection</td>
                        <td class="msig-center"><span class="msig-circle-red"></span></td>
                    </tr>
                    <tr>
                        <td>Forex Scalping</td>
                        <td>Currently under evaluation</td>
                        <td class="msig-center"><span class="msig-circle-red"></span></td>
                    </tr>
                    <tr>
                        <td>Forex Harmonic Figures</td>
                        <td>Currently under evaluation</td>
                        <td class="msig-center"><span class="msig-circle-red"></span></td>
                    </tr>
                    <tr>
                        <td>Forex Fund Management</td>
                        <td>Currently under evaluation</td>
                        <td class="msig-center"><span class="msig-circle-red"></span></td>
                    </tr>
                    <tr>
                        <td>Forex GoldEA</td>
                        <td>Awaiting trial of ATG owner</td>
                        <td class="msig-center"><span class="msig-circle-red"></span></td>
                    </tr>
                </tbody>
            </table>            

        </div>
    </div>
</div>


<div class="w3-padding-48">
    <div class="msig-card-gold w3-margin">
        <div class="w3-container">
            <h2 class="w3-panel w3-center">
                Crypto
            </h2>

            <table class="msig-table-all msig-margin-bottom">
                <thead>
                    <tr>
                        <th class="msig-h44">Service Name</th>
                        <th class="msig-h44">Description</th>
                        <th class="msig-center msig-h44">Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Crypto Sales</td>
                        <td>Currently suspended due to regulations</td>
                        <td class="msig-center"><span class="msig-circle-red"></span></td>
                    </tr>
                    <tr>
                        <td>Crypto Stacking</td>
                        <td>Currently in development</td>
                        <td class="msig-center"><span class="msig-circle-red"></span></td>
                    </tr>
                    <tr>
                        <td>Crypto Farming</td>
                        <td>Currently in development</td>
                        <td class="msig-center"><span class="msig-circle-red"></span></td>
                    </tr>
                    <tr>
                        <td>Crypto Cloud Mining</td>
                        <td>Machines are currently offline</td>
                        <td class="msig-center"><span class="msig-circle-red"></span></td>
                    </tr>
                    <tr>
                        <td>Crypto Bruce Whale</td>
                        <td>Currently suspended due to regulations</td>
                        <td class="msig-center"><span class="msig-circle-red"></span></td>
                    </tr>
                    <tr>
                        <td>Crypto Fund Management</td>
                        <td>Currently under evaluation</td>
                        <td class="msig-center"><span class="msig-circle-red"></span></td>
                    </tr>
                </tbody>
            </table>            
            
        </div>
    </div>
</div>


<div class="w3-padding-48">
    <div class="msig-card-gold w3-margin">
        <div class="w3-container">
            <h2 class="w3-panel w3-center">
                Complementary Optimization Services 
            </h2>

            <table class="msig-table-all msig-margin-bottom">
                <thead>
                    <tr>
                        <th class="msig-h44">Service Name</th>
                        <th class="msig-h44">Description</th>
                        <th class="msig-center msig-h44">Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Real Estate Management</td>
                        <td>Currently under re-evaluation</td>
                        <td class="msig-center"><span class="msig-circle-red"></span></td>
                    </tr>
                    <tr>
                        <td>Property Management</td>
                        <td>Currently under re-evaluation</td>
                        <td class="msig-center"><span class="msig-circle-red"></span></td>
                    </tr>
                    <tr>
                        <td>Health</td>
                        <td>Available through this <a class="msig-url-clean w3-text-blue" href="https://sisimple.superpatch.com" target="_blank">link</a></td>
                        <td class="msig-center"><span class="msig-circle-green"></span></td>
                    </tr>
                    <tr>
                        <td>Training</td>
                        <td>Available through this <a class="msig-url-clean w3-text-blue" href="https://futures-infinity.com/signup?sponsor=186800" target="_blank">link</a></td>
                        <td class="msig-center"><span class="msig-circle-green"></span></td>
                    </tr>
                    <tr>
                        <td>Travel</td>
                        <td>Coming soon</td>
                        <td class="msig-center"><span class="msig-circle-red"></span></td>
                    </tr>
                </tbody>
            </table>            
            
        </div>
    </div>
</div>

<div id="footer"></div>