<!--
##############################################
#                                            #
#     Copyright, this script is owned by     #
#        MoneySmart Investment Group         #
#                                            #
#                                            #
#      M   M     SSS     IIIII     GGG       #
#      MM MM    S   S      I      G   G      #
#      MM MM    S          I      G          #
#      M M M     SSS       I      GGGGG      #
#      M   M        S      I      G   G      #
#      M   M    S   S      I      G   G      #
#      M   M     SSS     IIIII     GGG       #
#                                            #
#                                            #
#             All right reserved             #
# https://www.moneysmartinvestmentgroup.com  #
#                                            #
##############################################
--> 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/msig-tech/msig-w3-css/msig.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nanum Gothic|Old Standard TT|Suez One|IM Fell English SC">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <script src="../../static/js/header-footer-loader.js"></script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

    <title>MSIG - MoneySmart Investment Group</title>

</head>

<body>

<div class="w3-display-bottomright" style="position: fixed; bottom: 20px; right: 20px;">
    <div id="google_translate_element"></div>
</div>

<div id="header"></div>


<div class="w3-container msig-padding-top-title">

    <div class="w3-padding-48">
        <h1 class="w3-panel w3-center msig-text-default">
            Représentant indépendant pour Travorium
        </h1>

        <div class="msig-card-gold w3-margin">
            <div class="w3-container">
                <h3 class="w3-panel w3-center">
                    Travorium, ton compagnon idéal pour des voyages passionnants<br>
                    et des économies substantielles !
                </h3>

                <p class="msig-justify msig-padding-top">
                    Avec Travorium, tu peux dire adieu aux voyages coûteux et aux vacances qui pèsent lourd sur ton budget. Notre abonnement mensuel te donne un accès exclusif à des offres de voyage exceptionnelles, des réductions sur les hébergements, les vols et bien plus encore. En t'inscrivant chez Travorium, tu investis dans ton bonheur et celui de ta famille, tout en réalisant d'importantes économies sur chaque escapade.
                </p>
                <p class="msig-justify">
                    Mais ce n'est pas tout. En tant que représentant indépendant (optionnel) Travorium, tu as également la possibilité de générer un revenu supplémentaire en partageant cette opportunité incroyable avec tes amis, ta famille et ton réseau. Grâce au système de référencement, chaque parrainage te rapproche un peu plus de la liberté financière et te permet de vivre la vie de tes rêves.
                </p>
                <p class="msig-justify">
                    Ne laisse pas les contraintes financières t'empêcher de voyager et d'explorer le monde. Rejoins Travorium dès aujourd'hui et découvre une nouvelle façon de voyager, d'économiser et de réaliser tes rêves.
                </p>
                <p class="msig-center msig-padding">
                    <button class="msig-button-blue msig-button-blue-hover w3-padding-small"><a class="msig-url-no-underline" href="#" target="_blank">J'aimerais en savoir plus !</a></button>
                </p>
            </div>
        </div>
        
    </div>

</div>

<div id="footer"></div>

