<!--
##############################################
#                                            #
#     Copyright, this script is owned by     #
#        MoneySmart Investment Group         #
#                                            #
#                                            #
#      M   M     SSS     IIIII     GGG       #
#      MM MM    S   S      I      G   G      #
#      MM MM    S          I      G          #
#      M M M     SSS       I      GGGGG      #
#      M   M        S      I      G   G      #
#      M   M    S   S      I      G   G      #
#      M   M     SSS     IIIII     GGG       #
#                                            #
#                                            #
#             All right reserved             #
# https://www.moneysmartinvestmentgroup.com  #
#                                            #
##############################################
--> 

{% extends "fr/maintemplate.html" %}

{% block content %}

<div class="w3-padding-48">
    <div class="msig-card-gold w3-margin">

        <div class="w3-container">

            <h1 class="w3-panel w3-center">C'est quoi une Crypto-Monnaie ?</h1>
                <p class="w3-panel w3-center">
                    Une crypto-monnaie est un système de paiement numérique qui ne s'appuie pas sur les banques pour vérifier les transactions. Il s'agit d'un système de partage P2P (peer-to-peer) permettant à tout le monde d'envoyer et de recevoir des paiements n'importe où. Lorsque tu transfères des fonds en crypto monnaies, les transactions sont enregistrées dans un registre public. Les crypto-monnaies sont stockées dans des portefeuilles numériques.   
                </p>
        </div>
    </div>
</div>



<div class="w3-padding-48">
    <div class="msig-card-gold w3-margin">
        <h1 class="w3-panel w3-center">
        Nos services en Crypto-Monnaie
        </h1>
        <div class="w3-row-padding">
            <div class="w3-quarter">
                <div class="msig-card w3-margin">
                    <div class="w3-container">
                        <h3 class="w3-center">
                        Vente
                        </h3>

                        <div class="w3-container">
                            <p>
                                Gardons ça simple, vente de crypto les plus populaire.  
                            </p>

                            <p>
                                Grâce aux virements internationnal, il est possible pour MSIG d'accepter plusieurs devises populaire, comme les Dollars USD, CAD, NZD ainsi que les Euros.  Tu peux communiquer avec nous pour plus de détails. 
                            </p>
                        </div>
                    </div>
                </div>

                <div class="msig-card w3-margin">
                    <div class="w3-container">
                        <h3 class="w3-center">
                        Bruce Whale - En développement
                        </h3>

                        <div class="w3-container">
                            <p>
                                Bruce Whale sera un outil puissant dans le domaine du trading. Il sera d'abord développé pour le marché de la crypto, mais rapidement il rejoindra aussi les rangs du marché du Forex. Il sera un atout pour toute personne débutante dans le milieu jusqu'aux plus expérimentés. 
                            </p>
                            
                        </div>
                    </div>
                </div>

            </div>

            <div class="w3-quarter">
                <div class="msig-card w3-margin">
                    <div class="w3-container">
                        <h3 class="w3-center">
                        Stacking - En développement
                        </h3>

                        <div class="w3-container">
                            <p>
                                Le stacking est le processus qui consiste à détenir des fonds dans un wallet crypto pour soutenir les opérations du réseau d'une blockchain. Fondamentalement, il consiste à verrouiller ses crypto-actifs pour recevoir des récompenses.
                            </p>

                            <p>
                                Le Stacking sera offert en pool.  Nous en sommes au développement de la base de données afin de bien gérer les connexions pour l'affichage en temps réel. 
                            </p>
                        </div>
                    </div>
                </div> 
            </div>

            <div class="w3-quarter">
                <div class="msig-card w3-margin">
                    <div class="w3-container">
                        <h3 class="w3-center">
                        Farming - En développement
                        </h3>

                        <div class="w3-container">
                            <p>
                                Le farming désigne la génération de revenus passifs à partir de crypto-actifs que l'on est prêt à immobiliser sur une plateforme. C'est un moyen puissant de tirer profit des plateformes DeFi, mais il comporte énormément de risques.
                            </p>

                            <p>
                                Le farming sera offert en pool.  Nous en sommes au développement de la base de données afin de bien gérer les connexions pour l'affichage en temps réel. 
                            </p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="w3-quarter">
                <div class="msig-card w3-margin">
                    <div class="w3-container">
                        <h3 class="w3-center">
                        Cloud mining
                        </h3>

                        <div class="w3-container">
                            <p>
                                Le Cloud Mining est aujourd'hui une alternative au minage traditionnel bien connu par la communauté crypto. Souvent décriée ou incompris, cette alternative présente tout de même de nombreux avantages notamment celui de pouvoir investir à partir de sommes raisonnables permettant au plus débutant de s'initier progressivement au monde du minage.
                            </p>

                            <p>
                                Nous avons déjà 2 machines qui fonctionnent depuis quelques mois.  Nous travaillons sur le développement des connexions pour un affichage en temps réel. 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

