<!--
##############################################
#                                            #
#     Copyright, this script is owned by     #
#        MoneySmart Investment Group         #
#                                            #
#                                            #
#      M   M     SSS     IIIII     GGG       #
#      MM MM    S   S      I      G   G      #
#      MM MM    S          I      G          #
#      M M M     SSS       I      GGGGG      #
#      M   M        S      I      G   G      #
#      M   M    S   S      I      G   G      #
#      M   M     SSS     IIIII     GGG       #
#                                            #
#                                            #
#             All right reserved             #
# https://www.moneysmartinvestmentgroup.com  #
#                                            #
##############################################
--> 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/msig-tech/msig-w3-css/msig.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nanum Gothic|Old Standard TT|Suez One|IM Fell English SC">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <script src="../../static/js/header-footer-loader-template.js"></script>

    <title>MSIG - MoneySmart Investment Group</title>
</head>

<body>

<div id="header"></div>

<div class="w3-container msig-padding-top-title">

    <div class="w3-padding-48">
        <h1 class="w3-panel w3-center msig-padding-down">Les petits caractères que personnes ne lis,<br>
            mais qui devraient être lus,<br>
            c'est pour cette raison qu'ils ne sont pas si petits...</h1>

        <div class="w3-padding-48">   
            <div class="msig-card-gold w3-margin">
                <div class="w3-container">
                    <h3 class="w3-panel w3-center">
                        Les risques liés à l'utilisation de nos services
                    </h3>

                    <h5 class="msig-padding-top msig-text-gold">Risque #1 ; Perte de capital</h5>
                    <p class="msig-justify w3-margin">
                        Les entreprises, à n'importe quel stade, peuvent échouer et si cela se produit, vous perdrez la totalité de l'investissement que vous avez fait. 
                        Vous ne devriez jamais investir plus d'argent que vous ne pouvez vous permettre de perdre sans devoir modifier votre niveau de vie.
                    </p>
                    <h5 class="msig-padding-top msig-text-gold">Risque #2 ; perte d'accès à votre compte</h5>
                    <p class="msig-justify w3-margin">
                        Vous pouvez oublier les identifiants de votre compte ou quelqu'un peut voler vos identifiants de connexion et effectuer des transactions non autorisées.
                    </p>
                    <h5 class="msig-padding-top msig-text-gold">Risque #3 ; Autres risques de cybersécurité, y compris les activités malveillantes</h5>
                    <p class="msig-justify w3-margin">
                        Les plateformes en ligne et les fournisseurs de services tiers peuvent être vulnérables au piratage ou à d'autres activités malveillantes. Par exemple, en août 2016, près de 120 000 unités représentant 72 millions de dollars américains de bitcoins ont été volées sur la bourse Bitfinex à Hong Kong, ce qui a entraîné une chute immédiate de 23 % des prix . Un an plus tôt, en septembre 2015, BitPay a perdu environ 1,8 million de dollars de bitcoins en raison d'une attaque de phishing. 
                    </p>
                    <h5 class="msig-padding-top msig-text-gold">Risque #4 ; dysfonctionnement d'une infrastructure Internet critique</h5>
                    <p class="msig-justify w3-margin">
                        Le théâtre des menaces se caractérise de plus en plus par des groupes organisés ou des acteurs non étatiques et des individus recourant à des attaques asymétriques rendues possibles par la connectivité universelle qu'offre Internet et la disponibilité des outils et des informations d'attaque nécessaires. La perte de contrôle sur la technologie résultant de la mondialisation, le besoin d'accessibilité en ligne et la propriété étrangère des infrastructures critiques augmentent également les vulnérabilités.
                    </p>
                    <h5 class="msig-padding-top msig-text-gold">Risque #5 ; Pas de garantie de résultat</h5>
                    <p class="msig-justify w3-margin">
                        Nous analysons la performance moyenne sur la base des résultats globaux passés. Les résultats individuels peuvent varier. Il faut se rappeler que les performances passées ne garantissent pas les résultats futurs. 
                    </p>
                    <h5 class="msig-padding-top msig-text-gold">Risque #6 ; Risques législatifs</h5>
                    <p class="msig-justify w3-margin">
                        Le risque législatif est la possibilité que les réglementations ou les lois du gouvernement modifient de manière significative les perspectives commerciales d'une ou plusieurs entreprises. Ces changements peuvent avoir un effet négatif sur les investissements dans cette société. Le risque législatif peut être le résultat direct d'une action gouvernementale ou d'une modification de la structure de la demande des Membres de l'entreprise.
                    </p>
                    <h5 class="msig-padding-top msig-text-gold">Risque #7 ; Risque de récession économique</h5>
                    <p class="msig-justify w3-margin">
                        Une récession est un terme macroéconomique qui fait référence à une baisse significative de l'activité économique générale dans une région donnée. Elle est généralement reconnue comme étant deux trimestres consécutifs de déclin économique, tel que reflété par le PIB en conjonction avec des indicateurs mensuels tels que la hausse du chômage. Actuellement, le coronavirus qui se propage rapidement menace les économies mondiales. 
                    </p>
                    <h5 class="msig-padding-top msig-text-gold">Risque #8 ; inconnus (autres risques non identifiés)</h5>
                    <p class="msig-justify w3-margin">
                        Ces types de risques posent un risque potentiellement plus important simplement parce qu'ils ne peuvent pas être anticipés sur la base d'expériences ou d'enquêtes passées. Les inconnus sont des phénomènes auxquels on ne peut pas s'attendre parce qu'il n'y a pas eu d'expérience antérieure ou de base théorique pour s'attendre à ces phénomènes.
                    </p>
                    <div class="msig-padding-top-down">
                        <h6 class="msig-text-gold msig-center msig-padding-top-down">
                            Nous prenons des mesures pour atténuer tous les risques possibles afin de rendre notre modèle d'entreprise aussi adaptable que possible.<br>
                            Mais il est important de comprendre qu'il n'existe pas d'environnement sans risque dans une entreprise.
                        </h6>
                    </div>
                </div>
            </div>
        </div>

        <div class="w3-padding-48">
            <div class="msig-card-gold w3-margin">
                <div class="w3-container">
                    <h3 class="w3-panel w3-center">
                        Conditions d'utilisations
                    </h3>

                    <h5 class="msig-padding-top msig-text-gold">Acceptation des Conditions</h5>
                    <p class="msig-justify w3-margin">
                        En accédant à notre plateforme et en utilisant nos services, vous acceptez de vous conformer aux présentes Conditions d'Utilisation. Si vous n'êtes pas d'accord avec l'une de ces conditions, veuillez ne pas utiliser nos services.
                    </p>
                    <h5 class="msig-padding-top msig-text-gold">Description des Services</h5>
                    <p class="msig-justify w3-margin">
                        Nos services comprennent la gestion de fonds dans les secteurs financiers du forex et de la crypto-monnaie. Nous mettons à votre disposition notre expertise et notre savoir-faire pour optimiser vos investissements et maximiser vos rendements.
                    </p>
                    <h5 class="msig-padding-top msig-text-gold">Responsabilité</h5>
                    <p class="msig-justify w3-margin">
                        Vous reconnaissez que les investissements dans les marchés financiers comportent des risques, et que les performances passées ne garantissent pas les résultats futurs. Nous ne pouvons garantir des rendements spécifiques et déclinons toute responsabilité en cas de pertes financières. 
                    </p>
                    <h5 class="msig-padding-top msig-text-gold">Confidentialité</h5>
                    <p class="msig-justify w3-margin">
                        Nous prenons la confidentialité de vos informations personnelles très au sérieux. Toutes les données que vous nous fournissez sont traitées conformément à notre Politique de Confidentialité, disponible sur notre site web.
                    </p>
                    <h5 class="msig-padding-top msig-text-gold">Propriété Intellectuelle</h5>
                    <p class="msig-justify w3-margin">
                        Tout le contenu présent sur notre plateforme, y compris les textes, les graphiques, les logos, les images et les vidéos, est la propriété exclusive de notre compagnie et est protégé par les lois sur la propriété intellectuelle. Vous vous engagez à ne pas reproduire, distribuer ou utiliser ce contenu sans notre autorisation écrite préalable.
                    </p>
                    <h5 class="msig-padding-top msig-text-gold">Modifications</h5>
                    <p class="msig-justify w3-margin">
                        Nous nous réservons le droit de modifier ces Conditions d'Utilisation à tout moment, sans préavis. Il est de votre responsabilité de consulter régulièrement cette page pour prendre connaissance des éventuelles mises à jour. Votre utilisation continue de nos services après la publication de modifications constitue votre acceptation de ces modifications.
                    </p>
                    <h5 class="msig-padding-top msig-text-gold">Contact</h5>
                    <p class="msig-justify w3-margin">
                        Si vous avez des questions ou des préoccupations concernant ces Conditions d'Utilisation, veuillez nous contacter à l'adresse fournie sur notre site web.
                    </p>
                </div>
            </div>
        </div>

        <div class="w3-padding-48">
            <div class="msig-card-gold w3-margin">
                <div class="w3-container">
                    <h3 class="w3-panel w3-center">
                        Le contrat que les clients doivent comprendre
                    </h3>

                    <h5 class="msig-padding-top msig-text-gold">Objet du contrat</h5>
                    <p class="msig-justify w3-margin">
                        Le Membre confie à MoneySmart Investment Group la gestion de son Portefeuille d’investissement sur le marché du Forex, des Crypto Monnaie ou des biens immobiliers, (ci-après désigné comme le « Portefeuille »), et ce, conformément aux dispositions qui suivent.
                    </p>

                    <p class="msig-border-bottom">&nbsp;</p>
                    
                    <h5 class="msig-padding-top msig-text-gold">Objectifs d’investissements</h5>
                    <p class="msig-justify w3-margin">
                        Les parties reconnaissent que le Membre a fait part de ses objectifs d’investissements à MoneySmart Investment Group.
                    </p>
                    <p class="msig-justify w3-margin">
                        MoneySmart Investment Group s’engage à gérer le Portefeuille dans le respect des objectifs d’investissements du Membre, sous réserve toutefois des lois pertinentes qui peuvent s’appliquer de temps à autres.
                    </p>
                    <p class="msig-justify w3-margin">
                        Le Membre s’engage à communiquer par écrit (courriel ou Espace Membre) à MoneySmart Investment Group de tout changement significatif susceptible d’affecter sa situation financière et, par conséquent, d’avoir une incidence sur lesdits objectifs de placements du Membre.
                    </p>

                    <p class="msig-border-bottom">&nbsp;</p>
                    
                    <h5 class="msig-padding-top msig-text-gold">Garde de valeurs</h5>
                    <h6 class="msig-padding-top msig-text-gold w3-margin">Transfert des actifs chez MoneySmart Investment Group</h6>
                    <p class="msig-justify w3-margin">
                        Le Portefeuille et toutes les sommes d’argent encaissées aux termes de la présente Convention sont en tout temps sous la garde de MoneySmart Investment Group.  
                    </p>
                    <h6 class="msig-padding-top msig-text-gold w3-margin">Gestion des actifs de manière autonome</h6>
                    <p class="msig-justify w3-margin">
                        Le Portefeuille et toutes les sommes d’argent encaissées aux termes de la présente Convention sont en tout temps sous la garde du Membre.  
                    </p>

                    <p class="msig-border-bottom">&nbsp;</p>
                                        
                    <h5 class="msig-padding-top msig-text-gold">Retraits et dépôts</h5>
                    <h6 class="msig-padding-top msig-text-gold w3-margin">Portefeuille virtuel</h6>
                    <p class="msig-justify w3-margin">
                        Les retraits et dépôts du portefeuille virtuel sont disponibles en tout temps, sous réserve des dispositions relatives aux devises disponibles. Les clients peuvent effectuer des transactions de retrait ou de dépôt dans les devises acceptées par MoneySmart Investment Group, conformément aux procédures et aux limites établies par celle-ci. Les retraits et dépôts peuvent être soumis à des frais, des délais de traitement et des conditions spécifiques, qui seront clairement communiqués aux clients. MoneySmart Investment Group se réserve le droit de modifier ces conditions à tout moment, sous réserve d'un préavis raisonnable aux clients.
                    </p>
                    <h6 class="msig-padding-top msig-text-gold w3-margin">Portefeuille réservé à une stratégie</h6>
                    <p class="msig-justify w3-margin">
                        Les actifs réservés à une stratégie sont ceux qui sont au travail à l'intérieur d'une stratégie spécifique. Ces actifs sont disponibles pour retrait vers le portefeuille virtuel uniquement lorsqu'ils ne sont pas au travail dans une position. Les actifs déposés sont considérés comme actifs au travail dès que la stratégie ouvre une  position avec ceux-ci. Les actifs au travail sont gelés et ne peuvent être modifiés, ni en ajoutant des fonds, ni en retirant des fonds, tant que la position n'est pas fermée. MoneySmart Investment Group se réserve le droit de définir des conditions spécifiques pour les retraits et les dépôts de ces actifs réservés à une stratégie, lesquelles seront communiquées clairement aux clients.
                    </p>
                    <h6 class="msig-padding-top msig-text-gold w3-margin">Retrait complet des actifs d'une stratégie</h6>
                    <p class="msig-justify w3-margin">
                        Le client a le droit de demander le retrait complet de ses actifs d'une stratégie à tout moment. MoneySmart Investment Group s'engage à faire de son mieux pour retirer les fonds complets vers le portefeuille virtuel dès que possible. Cela peut se produire soit lorsque toutes les positions qui sont actuellement au travail dans la stratégie sont fermées, soit lorsque MoneySmart Investment Group dispose des liquidités nécessaires pour transférer les fonds. MoneySmart Investment Group informera le client dès que le retrait complet des actifs sera effectué, et s'efforcera de minimiser les délais de traitement autant que possible.
                    </p>

                    <p class="msig-border-bottom">&nbsp;</p>

                    <h5 class="msig-padding-top msig-text-gold">Ouverture de compte Forex</h5>
                    <p class="msig-justify w3-margin">
                        Le Membre est tenu de procéder à l'ouverture d'un compte Forex auprès du courtier spécifiquement recommandé pour la stratégie en question. En l'absence de toute recommandation de courtier de la part de MoneySmart Investment Group, il incombe au Membre de sélectionner un courtier répondant à ses critères personnels.
                    </p>
                    <p class="msig-justify w3-margin">
                        Les liens d'adhésion fournis doivent être suivis afin de garantir la conformité aux stratégies.
                    </p>

                    <p class="msig-border-bottom">&nbsp;</p>
                    
                    <h5 class="msig-padding-top msig-text-gold">Accès aux plateformes de trading</h5>
                    <p class="msig-justify w3-margin">
                        Le client reconnaît et accepte que, pour permettre à MoneySmart Investment Group d'exécuter ses fonctions en tant que gestionnaire de fonds, il est nécessaire de fournir à MoneySmart Investment Group un accès approprié et sécurisé aux plateformes de trading forex utilisées pour les opérations de trading. Le client s'engage à fournir à MoneySmart Investment Group les informations d'identification et les autorisations nécessaires pour accéder à ses comptes de trading.
                    </p>
                    <p class="msig-justify w3-margin">
                        MoneySmart Investment Group garantit que toutes les informations d'identification fournies par le client seront traitées de manière confidentielle et utilisées uniquement dans le but d'exécuter les fonctions de gestion convenues avec le client. MoneySmart Investment Group s'engage à prendre toutes les mesures raisonnables pour protéger la sécurité et la confidentialité des informations d'identification du client.
                    </p>
                    <p class="msig-justify w3-margin">                        
                        Dans le cas où le client choisit de gérer lui-même ses propres comptes de trading, il est de la responsabilité du client de maintenir la sécurité de ses propres informations d'identification et de gérer ont propres propre risque sans l'intervention de MoneySmart Investment Group.
                    </p>

                    <p class="msig-border-bottom">&nbsp;</p>
                    
                    <h5 class="msig-padding-top msig-text-gold">Pouvoir du Gestionnaire</h5>
                    <h6 class="msig-padding-top msig-text-gold w3-margin">Forex trading</h6>
                    <p class="msig-justify w3-margin">
                        MoneySmart Investment Group, agissant en qualité de gestionnaire de fonds, est habilitée à accéder aux plateformes de trading forex nécessaires à l'exécution des opérations de trading conformément aux objectifs et stratégies convenus avec le client. Dans le cadre de ses fonctions de gestion, MoneySmart Investment Group peut prendre des décisions de trading et exécuter des transactions sur ses propres comptes ainsi que sur les comptes de trading du client.
                    </p>
                    <p class="msig-justify w3-margin">
                        Cependant, il est important de noter que pour certaines stratégies spécifiques, il peut être facultatif de confier à MoneySmart Investment Group l'accès aux plateformes de trading. Dans de telles circonstances, les clients ont la possibilité de gérer leurs propres connexions ainsi sans fournir d'accès à notre équipe, ainsi que l'application de la gestion du risque approprié.
                    </p>
                    <h6 class="msig-padding-top msig-text-gold w3-margin">Crypto</h6>
                    <p class="msig-justify w3-margin">
                        text
                    </p>
                </div>
            </div>
        </div>
        
    </div>

</div>


<div id="footer"></div>

