<!--
##############################################
#                                            #
#     Copyright, this script is owned by     #
#        MoneySmart Investment Group         #
#                                            #
#                                            #
#      M   M     SSS     IIIII     GGG       #
#      MM MM    S   S      I      G   G      #
#      MM MM    S          I      G          #
#      M M M     SSS       I      GGGGG      #
#      M   M        S      I      G   G      #
#      M   M    S   S      I      G   G      #
#      M   M     SSS     IIIII     GGG       #
#                                            #
#                                            #
#             All right reserved             #
# https://www.moneysmartinvestmentgroup.com  #
#                                            #
##############################################
--> 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/msig-tech/msig-w3-css/msig.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nanum Gothic|Old Standard TT|Suez One|IM Fell English SC">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <script src="../../static/js/header-footer-loader-template.js"></script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

    <title>MSIG - MoneySmart Investment Group</title>
</head>

<body>

<div class="w3-display-bottomright" style="position: fixed; bottom: 20px; right: 20px;">
    <div id="google_translate_element"></div>
</div>

<div id="header"></div>

    <div class="w3-container msig-padding-top-title">
        <h1 class="msig-center">Un passionné du monde de la finance lance <span class="msig-text-gold"><b>MSIG</b></span></h1>
        
        <div class="w3-padding-48">
            <div class="msig-card-gold w3-margin">
        
                <div class="w3-container">
                    <h3 class="msig-center">Kevin aide les clients à concrétiser leurs rêves</h3>
                    <p class="w3-justify"><i>
                        Tout a débuté en mars 2017 quand je me suis fait présenter un projet de crowdfunding en crypto monnaie, basé sur le bitcoin. C’était la première fois que j’entendais parler de crypto à l’époque. J’ai d’abord investi 180$ et en 5 jours, j’avais gagné 1000$! À la fin mars, j’ai donc décidé d’investir 3000$ en crypto. Puis en juin, j’ai pris la décision d’arrêter de travailler pour me concentrer sur la crypto-monnaie. J’ai tout appris par moi-même ; j’ai acheté, vendu, échangé, miné et j’ai travaillé à la création d’un projet d’une nouvelle crypto-monnaie basée sur l’or physique. En novembre 2017, je cumulais un peu plus de 60 000$ de gains!
                    </i></p>
                    <p class="w3-justify"><i>
                        En septembre 2019, je me suis fait approcher pour le Forex. J’ai donc mis du temps pour apprendre ce marché. Je me suis vite rendu compte que beaucoup de personnes s'intéressent au Forex, mais que peu arrivent à devenir prospère sur ce marché. Il implique en effet beaucoup de gestion émotionnelle et de compréhension du marché à l’échelle mondiale, ce qui refroidit beaucoup de gens en recherche d’une opportunité de se bâtir un revenu supplémentaire.
                    </i></p>
                    <p class="w3-justify"><i>
                        Ce que les gens connaissent le plus, ce sont les signaux des “professionnels” qui disent où et quand investir. Cette méthode est quand même bien, mais les marchés sont ouverts 24h/5jours. Il est donc impossible pour un trader de suivre seul les mouvements des marchés jours et nuits. De là est venue l’idée de créer un copieur ou shadow trading. Chaque mouvement du trader est dupliqué dans les comptes clients via un logiciel. Le client n’a donc rien à faire; tout est automatique.
                        Cela fait depuis 2017 que je travaille à l’élaboration de mon projet de crypto basé sur l’or. Mon but ultime est de le mettre sur pieds. J’ai donc préparé des phases de développement pour mener le projet à terme.
                    </i></p>
                </div>
            </div>
        </div>

        <div class="w3-container">
            <div class="msig-card-gold w3-margin">
        
                <div class="w3-container">
                    <h3 class="msig-center">Le rôle de MoneySmart Investment Group <span class="msig-text-gold"><b>MSIG</b></span></h3>
                    <p class="w3-justify">
                        <span class="msig-text-gold"><b>MSIG</b></span> est une entreprise internationale offrant des services financiers dans des secteurs à haut risque, donc à haut rendement, pour les gens soucieux d’obtenir sans trop d’efforts, une meilleur performance de leur portefeuille grâce à une infrastructure technologique de pointe priorisant l’accès aux capitaux et intérêts en tout temps à l’aide d’un espace membre utilisateur.
                    </p>
                    <p class="w3-justify">
                        Les activités de <span class="msig-text-gold"><b>MSIG</b></span> se distinguent par la simplification des processus d’accès à des marchés financiers habituellement réservés à l’élite du milieu.
                    </p>
                </div>

            </div>
        </div>
    </div>

<div id="footer"></div>

