<!--
##############################################
#                                            #
#     Copyright, this script is owned by     #
#        MoneySmart Investment Group         #
#                                            #
#                                            #
#      M   M     SSS     IIIII     GGG       #
#      MM MM    S   S      I      G   G      #
#      MM MM    S          I      G          #
#      M M M     SSS       I      GGGGG      #
#      M   M        S      I      G   G      #
#      M   M    S   S      I      G   G      #
#      M   M     SSS     IIIII     GGG       #
#                                            #
#                                            #
#             All right reserved             #
# https://www.moneysmartinvestmentgroup.com  #
#                                            #
##############################################
--> 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/msig-tech/msig-w3-css/msig.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nanum Gothic|Old Standard TT|Suez One|IM Fell English SC">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <script src="../../static/js/header-footer-loader-template.js"></script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

    <title>MSIG - MoneySmart Investment Group</title>
</head>

<body>

<div class="w3-display-bottomright" style="position: fixed; bottom: 20px; right: 20px;">
    <div id="google_translate_element"></div>
</div>

<div id="header"></div>

<div class="w3-container msig-padding-top-title">
    <h1 class="msig-center">A finance enthusiast launches <span class="msig-text-gold"><b>MSIG</b></span></h1>
    
    <div class="w3-padding-48">
        <div class="msig-card-gold w3-margin">
    
            <div class="w3-container">
                <h3 class="msig-center">Kevin helps members realize their dreams</h3>
                <p class="w3-justify"><i>
                    It all started in March 2017 when I was introduced to a cryptocurrency crowdfunding project, based on Bitcoin. It was the first time I had heard about crypto at the time. I initially invested $180 and within 5 days, I had earned $1000! By the end of March, I decided to invest $3000 in crypto. Then in June, I made the decision to stop working to focus on cryptocurrency. I learned everything on my own; I bought, sold, traded, mined, and worked on creating a project for a new cryptocurrency based on physical gold. By November 2017, I had accumulated over $60,000 in profits!
                </i></p>
                <p class="w3-justify"><i>
                    In September 2019, I was approached for Forex trading. So, I took time to learn this market. I quickly realized that many people are interested in Forex, but few succeed in prospering in this market. It indeed involves a lot of emotional management and understanding of the market on a global scale, which discourages many people looking for an opportunity to build an additional income.
                </i></p>
                <p class="w3-justify"><i>
                    What people are most familiar with are signals from "professionals" that tell them where and when to invest. This method is good, but the markets are open 24/5. It is therefore impossible for a trader to monitor market movements alone day and night. Hence the idea of ​​creating a copy or shadow trading. Each move of the trader is duplicated in member accounts via software. The member doesn't have to do anything; everything is automatic.
                </i></p>
                <p class="w3-justify"><i>
                    Since 2017, I have been working on the development of my gold-based crypto project. My ultimate goal is to bring it to fruition. So, I have prepared development phases to carry the project to completion.
                </i></p>

            </div>
        </div>
    </div>

    <div class="w3-container">
        <div class="msig-card-gold w3-margin">
    
            <div class="w3-container">
                <h3 class="msig-center">The Role of MoneySmart Investment Group<span class="msig-text-gold"><b>MSIG</b></span></h3>
                <p class="w3-justify">
                    <span class="msig-text-gold"><b>MSIG</b></span> is an international company offering financial services in high-risk, high-return sectors for individuals looking to achieve better portfolio performance with minimal effort. This is made possible through cutting-edge technological infrastructure prioritizing access to capital and returns at all times, aided by a user-friendly member space.
                </p>
                <p class="w3-justify">
                    The activities of <span class="msig-text-gold"><b>MSIG</b></span> stand out for simplifying access processes to financial markets typically reserved for the elite.
                </p>

            </div>

        </div>
    </div>
</div>

<div id="footer"></div>

