<!--
##############################################
#                                            #
#     Copyright, this script is owned by     #
#        MoneySmart Investment Group         #
#                                            #
#                                            #
#      M   M     SSS     IIIII     GGG       #
#      MM MM    S   S      I      G   G      #
#      MM MM    S          I      G          #
#      M M M     SSS       I      GGGGG      #
#      M   M        S      I      G   G      #
#      M   M    S   S      I      G   G      #
#      M   M     SSS     IIIII     GGG       #
#                                            #
#                                            #
#             All right reserved             #
# https://www.moneysmartinvestmentgroup.com  #
#                                            #
##############################################
--> 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/msig-tech/msig-w3-css/msig.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nanum Gothic|Old Standard TT|Suez One|IM Fell English SC">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <script src="../../static/js/header-footer-loader-template.js"></script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

    <title>MSIG - MoneySmart Investment Group</title>
</head>

<body>

<div class="w3-display-bottomright" style="position: fixed; bottom: 20px; right: 20px;">
    <div id="google_translate_element"></div>
</div>

<div id="header"></div>

<div class="w3-container msig-padding-top-title">

    <div class="w3-padding-48">
        <h1 class="w3-panel w3-center msig-padding-down">The small print that nobody reads,<br>
            but should be read,<br>
            that's why they're not so small...
        </h1>        

        <div class="w3-padding-48">   
            <div class="msig-card-gold w3-margin">
                <div class="w3-container">
                    <h3 class="w3-panel w3-center">
                        The risks associated with using our services
                    </h3>

                    <h5 class="msig-padding-top msig-text-gold">Risk #1: Capital Loss</h5>
                    <p class="msig-justify w3-margin">
                        Businesses, at any stage, can fail, and if that happens, you will lose the entirety of the investment you made. You should never invest more money than you can afford to lose without having to change your standard of living.
                    </p>
                    <h5 class="msig-padding-top msig-text-gold">Risk #2: Loss of Account Access</h5>
                    <p class="msig-justify w3-margin">
                        You may forget your account credentials or someone may steal your login information and carry out unauthorized transactions.
                    </p>
                    <h5 class="msig-padding-top msig-text-gold">Risk #3: Other Cybersecurity Risks, Including Malicious Activities</h5>
                    <p class="msig-justify w3-margin">
                        Online platforms and third-party service providers may be vulnerable to hacking or other malicious activities. For instance, in August 2016, nearly 120,000 units representing $72 million worth of bitcoins were stolen from the Hong Kong-based exchange Bitfinex, leading to an immediate 23% price drop. A year earlier, in September 2015, BitPay lost around $1.8 million worth of bitcoins due to a phishing attack.
                    </p>
                    <h5 class="msig-padding-top msig-text-gold">Risk #4: Malfunction of Critical Internet Infrastructure</h5>
                    <p class="msig-justify w3-margin">
                        The threat landscape is increasingly characterized by organized groups or non-state actors and individuals resorting to asymmetric attacks made possible by the universal connectivity offered by the Internet and the availability of tools and attack information. Loss of control over technology resulting from globalization, the need for online accessibility, and foreign ownership of critical infrastructures also increase vulnerabilities.
                    </p>
                    <h5 class="msig-padding-top msig-text-gold">Risk #5: No Guarantee of Outcome</h5>
                    <p class="msig-justify w3-margin">
                        We analyze average performance based on past overall results. Individual results may vary. It should be remembered that past performance does not guarantee future results.
                    </p>
                    <h5 class="msig-padding-top msig-text-gold">Risk #6: Legislative Risks</h5>
                    <p class="msig-justify w3-margin">
                        Legislative risk is the possibility that government regulations or laws may significantly alter the business outlook of one or more companies. These changes can have a negative impact on investments in that company. Legislative risk may result directly from government action or changes in the demand structure of the company's members.
                    </p>
                    <h5 class="msig-padding-top msig-text-gold">Risk #7: Economic Recession Risk</h5>
                    <p class="msig-justify w3-margin">
                        A recession is a macroeconomic term referring to a significant downturn in overall economic activity within a given region. It is typically recognized as two consecutive quarters of economic decline, as reflected by GDP along with monthly indicators such as rising unemployment.
                    </p>
                    <h5 class="msig-padding-top msig-text-gold">Risk #8: Unknown (Other Unidentified Risks)</h5>
                    <p class="msig-justify w3-margin">
                        These types of risks pose potentially greater risk simply because they cannot be anticipated based on past experiences or surveys. Unknowns are phenomena that cannot be expected because there has been no prior experience or theoretical basis to anticipate these phenomena.
                    </p>
                    <div class="msig-padding-top-down">
                        <h6 class="msig-text-gold msig-center msig-padding-top-down">
                            We take steps to mitigate all possible risks to make our business model as adaptable as possible.<br>
                            However, it's important to understand that there is no risk-free environment in business.
                        </h6>                        
                    </div>
                </div>
            </div>
        </div>

        <div class="w3-padding-48">
            <div class="msig-card-gold w3-margin">
                <div class="w3-container">
                    <h3 class="w3-panel w3-center">
                        Terms of Use
                    </h3>

                    <h5 class="msig-padding-top msig-text-gold">Acceptance of Terms</h5>
                    <p class="msig-justify w3-margin">
                        By accessing our platform and using our services, you agree to comply with these Terms of Use. If you do not agree with any of these terms, please do not use our services.
                    </p>
                    <h5 class="msig-padding-top msig-text-gold">Description of Services</h5>
                    <p class="msig-justify w3-margin">
                        Our services include fund management in the financial sectors of forex and cryptocurrency. We provide you with our expertise and know-how to optimize your investments and maximize your returns.
                    </p>
                    <h5 class="msig-padding-top msig-text-gold">Liability</h5>
                    <p class="msig-justify w3-margin">
                        You acknowledge that investments in financial markets carry risks, and past performance does not guarantee future results. We cannot guarantee specific returns and disclaim any liability for financial losses.
                    </p>
                    <h5 class="msig-padding-top msig-text-gold">Confidentiality</h5>
                    <p class="msig-justify w3-margin">
                        We take the confidentiality of your personal information very seriously. All data you provide to us is processed in accordance with our<a href="../../template/about/termsofuse.html" class="msig-url-clean w3-text-blue"> Privacy Policy</a>, available on our website.
                    </p>
                    <h5 class="msig-padding-top msig-text-gold">Intellectual Property</h5>
                    <p class="msig-justify w3-margin">
                        All content on our platform, including texts, graphics, logos, images, and videos, is the exclusive property of<span class="notranslate"> MoneySmart Investment Group </span>and is protected by intellectual property laws. You agree not to reproduce, distribute, or use this content without our prior written permission.
                    </p>                    
                    <h5 class="msig-padding-top msig-text-gold">Updates</h5>
                    <p class="msig-justify w3-margin">
                        We reserve the right to modify these Terms of Use at any time, without prior notice. It is your responsibility to regularly check this page for any updates. Your continued use of our services after the publication of modifications constitutes your acceptance of these changes.
                    </p>
                    <h5 class="msig-padding-top msig-text-gold">Contact</h5>
                    <p class="msig-justify w3-margin">
                        If you have any questions or concerns regarding these Terms of Use, please use the<a href="../../template/about/contactus.html" class="msig-url-clean w3-text-blue"> Contact Us </a>link.
                    </p>
                    
                </div>
            </div>
        </div>

        <div class="w3-padding-48">
            <div class="msig-card-gold w3-margin">
                <div class="w3-container">
                    <h3 class="w3-panel w3-center">
                        The contract that members must understand
                    </h3>
                    <h5 class="msig-padding-top msig-text-gold">Purpose of the Contract - Investment Portfolio Management</h5>
                    <p class="msig-justify w3-margin">
                        The Member entrusts to MoneySmart Investment Group (MSIG) the management of hes Investment Portfolio, comprising assets in the Forex market, Cryptocurrency, or real estate, without limitation, hereinafter referred to as the "Portfolio." This management is subject to the provisions set forth in this contract.
                    </p>                    

                    <p class="msig-border-bottom">&nbsp;</p>
                    
                    <h5 class="msig-padding-top msig-text-gold">Member Responsibility</h5>
                    <h6 class="msig-padding-top msig-text-gold w3-margin">Communications</h6>
                    <p class="msig-justify w3-margin">
                        The Member is required to provide a valid email address for communications.
                    </p>
                    <h6 class="msig-padding-top msig-text-gold w3-margin">Payments</h6>
                    <p class="msig-justify w3-margin">
                        The Member is responsible for paying commissions within a maximum period of 14 days.
                    </p>
                    <h6 class="msig-padding-top msig-text-gold w3-margin">Login Information</h6>
                    <p class="msig-justify w3-margin">
                        The Member must provide MoneySmart Investment Group (MSIG) with necessary login information upon request.
                    </p>
                    <h6 class="msig-padding-top msig-text-gold w3-margin">Confidentiality</h6>
                    <p class="msig-justify w3-margin">
                        The Member agrees to maintain the confidentiality of their account information and not disclose it to unauthorized third parties.
                    </p>
                    <h6 class="msig-padding-top msig-text-gold w3-margin">Notification of Change</h6>
                    <p class="msig-justify w3-margin">
                        The Member must inform MoneySmart Investment Group of any changes in their contact details or account information.
                    </p>
                    <h6 class="msig-padding-top msig-text-gold w3-margin">Compliance with Laws and Regulations</h6>
                    <p class="msig-justify w3-margin">
                        The Member agrees to comply with all applicable laws and regulations regarding trading and investment in their tax jurisdiction.
                    </p>
                    <h6 class="msig-padding-top msig-text-gold w3-margin">Use of Services</h6>
                    <p class="msig-justify w3-margin">
                        The Member acknowledges that the services provided by MoneySmart Investment Group are for personal or commercial use only and must not be used for illegal purposes.
                    </p>
                    
                    <h6 class="msig-padding-top msig-text-gold w3-margin">Limitation of Liability</h6>
                    <p class="msig-justify w3-margin">
                        MoneySmart Investment Group disclaims any liability for losses or damages resulting from the use of the services, except in cases of gross negligence or intentional misconduct.
                    </p>                    

                    <p class="msig-border-bottom">&nbsp;</p>
                    
                    <h5 class="msig-padding-top msig-text-gold">Investment Objectives</h5>
                    <p class="msig-justify w3-margin">
                        The parties acknowledge that the Member has communicated their investment objectives to MoneySmart Investment Group.
                    </p>
                    <p class="msig-justify w3-margin">
                        MoneySmart Investment Group undertakes to manage the Portfolio taking into account the Member's investment objectives, subject to applicable laws.
                    </p>
                    <p class="msig-justify w3-margin">
                        The Member agrees to notify MoneySmart Investment Group in writing (by email or via the Member Area) of any significant changes that may affect their financial situation and, consequently, their investment objectives.
                    </p>                    

                    <p class="msig-border-bottom">&nbsp;</p>
                    
                    <h5 class="msig-padding-top msig-text-gold">Investment Strategies and Associated Risks</h5>
                    <p class="msig-justify w3-margin">
                        MoneySmart Investment Group commits to adhering to the investment strategies specified by the Member, as well as their own risk tolerance.
                    </p>
                    <p class="msig-justify w3-margin">                        
                        We actively encourage our Members to select investment strategies that align with their financial goals, time horizon, and risk appetite. Each investment strategy carries an inherent level of risk, and it is imperative for the Member to understand and accept the risks associated with each chosen strategy.
                    </p>
                    <p class="msig-justify w3-margin">                        
                        MoneySmart Investment Group offers a variety of investment strategies, each designed to cater to different levels of risk tolerance. Our team of investment experts is available to provide general information about our strategies and explain their workings. We are also ready to clarify the characteristics of each strategy so that Members can make informed decisions based on their financial knowledge and investment goals.
                    </p>
                    <p class="msig-justify w3-margin">                        
                        It is important to note that MoneySmart Investment Group does not provide personalized or individual-specific financial advice. Our interactions with Members are intended to provide general information about our products and services and address any questions they may have. Members are encouraged to consult a qualified professional for personalized advice on their investment decisions.
                    </p>
                    <p class="msig-justify w3-margin">
                        All forms of investment carry risk, and past performance does not guarantee future results. The Member is encouraged to diversify their portfolio and regularly review our reports and analyses to make informed decisions regarding their investments.
                    </p>
                    <p class="msig-justify w3-margin">
                        By accepting these terms, the Member acknowledges and accepts the risks associated with investing and understands that MoneySmart Investment Group cannot be held liable for financial losses resulting from their investment decisions.
                    </p>                    

                    <p class="msig-border-bottom">&nbsp;</p>
                    
                    <h5 class="msig-padding-top msig-text-gold">Manager's Authority</h5>
                    <h6 class="msig-padding-top msig-text-gold w3-margin">Forex Trading</h6>
                    <p class="msig-justify w3-margin">
                        As a fund manager, MoneySmart Investment Group is authorized to access the necessary forex trading platforms to execute operations in accordance with the objectives and strategies agreed upon with the member. In the course of its duties, MoneySmart Investment Group may make trading decisions and execute transactions on its own accounts, where members' assets are pooled for collective management, as well as on the member's trading accounts.
                    </p>
                    <p class="msig-justify w3-margin">
                        It should be noted that for certain specific strategies, it may be optional to grant MoneySmart Investment Group access to trading platforms. In such circumstances, members have the option to manage their own connections without providing access to our team, while applying appropriate risk management.
                    </p>
                    <h6 class="msig-padding-top msig-text-gold w3-margin">Cryptocurrency</h6>
                    <p class="msig-justify w3-margin">
                        As a fund manager, MoneySmart Investment Group is authorized to access the necessary cryptocurrency platforms to conduct transactions, in accordance with the objectives and strategies agreed upon with the member. In the course of its management duties, MoneySmart Investment Group may make trading decisions and execute transactions on its own accounts, where members' assets are pooled for collective management.
                    </p>                    

                    <p class="msig-border-bottom">&nbsp;</p>

                    <h5 class="msig-padding-top msig-text-gold">Forex Account Opening</h5>
                    <p class="msig-justify w3-margin">
                        The Member is responsible for opening a Forex account with the broker specifically recommended for the respective strategy. In the absence of any broker recommendation from MoneySmart Investment Group, it is the Member's responsibility to choose a broker that meets their personal criteria.
                    </p>
                    <p class="msig-justify w3-margin">
                        Membership links provided must be followed to ensure compliance with agreed-upon strategies.
                    </p>
                    <p class="msig-justify w3-margin">
                        It should be noted that opening a Forex account is not mandatory for all strategies. We encourage Members to review strategy descriptions for specific details on Forex account requirements.
                    </p>                    

                    <p class="msig-border-bottom">&nbsp;</p>
                    
                    <h5 class="msig-padding-top msig-text-gold">Access to Trading Platforms</h5>
                    <p class="msig-justify w3-margin">
                        The member acknowledges and agrees that, in order to enable MoneySmart Investment Group to perform its functions as a fund manager, it is necessary to provide MoneySmart Investment Group with appropriate and secure access to the forex trading platforms used for trading operations. The member undertakes to provide MoneySmart Investment Group with the necessary login credentials and permissions to access their trading accounts.
                    </p>
                    <p class="msig-justify w3-margin">
                        MoneySmart Investment Group ensures that all login credentials provided by the member will be treated confidentially and used only for the purpose of executing the management functions agreed upon with the member. MoneySmart Investment Group undertakes to take all reasonable measures to protect the security and confidentiality of the member's login credentials.
                    </p>
                    <p class="msig-justify w3-margin">
                        In the event that the Member chooses to manage their own trading accounts, it is their responsibility to maintain the security of their own login credentials and manage their own risk without the intervention of MoneySmart Investment Group.
                    </p>                    

                    <p class="msig-border-bottom">&nbsp;</p>
                    
                    <h5 class="msig-padding-top msig-text-gold">Custody of Assets</h5>
                    <h6 class="msig-padding-top msig-text-gold w3-margin">Transfer of Assets to MoneySmart Investment Group</h6>
                    <p class="msig-justify w3-margin">
                        The Portfolio and all cash amounts received under this Agreement are at all times under the custody of MoneySmart Investment Group.
                    </p>
                    <h6 class="msig-padding-top msig-text-gold w3-margin">Autonomous Asset Management</h6>
                    <p class="msig-justify w3-margin">
                        The Member retains custody of the Portfolio under this Agreement.
                    </p>                    

                    <p class="msig-border-bottom">&nbsp;</p>
                                        
                    <h5 class="msig-padding-top msig-text-gold">Withdrawals and Deposits</h5>
                    <h6 class="msig-padding-top msig-text-gold w3-margin">Virtual Wallet</h6>
                    <p class="msig-justify w3-margin">
                        Withdrawals and deposits from the virtual wallet are available at all times, subject to provisions regarding accepted currencies. Members can conduct withdrawal or deposit transactions in currencies accepted by MoneySmart Investment Group, in accordance with established procedures and limits. Withdrawals and deposits may be subject to fees, processing times, and specific conditions, which will be clearly communicated to members. MoneySmart Investment Group reserves the right to modify these conditions at any time, subject to reasonable notice to members.
                    </p>
                    <p class="msig-justify w3-margin">
                        MoneySmart Investment Group accepts deposits and proceed withdrawals in the following currencies:
                        <ul>
                            <li>Crypto</li>
                            <ul>
                                <li><span class="notranslate">USDT (Theter USD)</span></li>
                                <li><span class="notranslate">BTC (Bitcoin)</span></li>
                                <li><span class="notranslate">ETH (Ethereum)</span></li>
                                <li><span class="notranslate">LTC (Litecoin)</span></li>
                            </ul>
                        </ul>
                    </p>

                    <h6 class="msig-padding-top msig-text-gold w3-margin">Strategy Reserved wallet</h6>
                    <p class="msig-justify w3-margin">
                        Assets reserved for a strategy are those being actively used in a specific strategy. These assets are available for withdrawal to the virtual wallet only when not engaged in an active position. Deposited assets are considered engaged as soon as a strategy opens a position with them. Engaged assets are locked and cannot be altered, either by adding funds or withdrawing funds, as long as the position is active. MoneySmart Investment Group reserves the right to define specific conditions for withdrawals and deposits of these strategy reserved assets, which will be clearly communicated to members.
                    </p>
                    <h6 class="msig-padding-top msig-text-gold w3-margin">Full Withdrawal of Strategy Assets</h6>
                    <p class="msig-justify w3-margin">
                        The member has the right to request the full withdrawal of their assets from a strategy at any time. MoneySmart Investment Group undertakes to do its best to withdraw the full funds to the virtual wallet as soon as possible. This may occur either when all positions currently active in the strategy are closed or when MoneySmart Investment Group has the necessary liquidity to transfer the funds. MoneySmart Investment Group will inform the member as soon as the full withdrawal of assets is completed and will strive to minimize processing delays as much as possible.
                    </p>                    

                    <p class="msig-border-bottom">&nbsp;</p>
                    
                    <h5 class="msig-padding-top msig-text-gold">Report</h5>
                    <p class="msig-justify w3-margin">
                        MoneySmart Investment Group is required to maintain comprehensive and detailed accounting of the Member's Portfolio. This report will provide detailed information on transactions, including gains or losses, commissions, as well as any other relevant information required to complete annual tax filings.
                    </p>
                    <p class="msig-justify w3-margin">
                        The detailed report is available in real-time within the member area. It is the member's responsibility to regularly review their report. In the event of an error in the report, the member may request a correction within 21 days from the date of the event. No modifications will be possible after this 21-day period in the event of an error.
                    </p>                    

                    <p class="msig-border-bottom">&nbsp;</p>
                    
                    <h5 class="msig-padding-top msig-text-gold">Gains and Losses</h5>
                    <p class="msig-justify w3-margin">
                        Following the weekly report, the Member undertakes to compensate MoneySmart Investment Group according to an agreed percentage of the profits earned. For cases where members' assets are pooled for collective management, the commissions will be automatically deducted after each gain, thereby releasing the Member from any responsibility in this regard.
                    </p>
                    <p class="msig-justify w3-margin">
                        In the event of losses, these will be entirely borne by the Member unless otherwise indicated.
                    </p>
                    <p class="msig-justify w3-margin">
                        The Portfolio will be reassessed in real-time, and the risk level will be adjusted accordingly to optimize performance. It is strongly recommended to reinvest short-term gains in the Portfolio to maximize its potential.
                    </p>
                    <p class="msig-center w3-margin msig-text-gold">
                        It is important to note that MoneySmart Investment Group cannot guarantee any profits from investments, as financial markets carry inherent risks. Past performance is not indicative of future results.
                    </p>                    

                    <p class="msig-border-bottom">&nbsp;</p>
                    
                    <h5 class="msig-padding-top msig-text-gold">Commissions</h5>
                    <p class="msig-justify w3-margin">
                        Definition of terms used:
                        <ul>
                            <li>Member = Active Member account</li>
                            <li>Referred Member = A Member who have been referred by a Member, as well as all others resulting from this referring</li>
                            <li>Virtual Wallet = A buffer wallet that gives the real value of the member's assets available for withdrawals or to transfer into the strategies offered</li>
                            <li>Active Wallet = An active wallet, that is, a wallet that is in use or accessible for transactions or strategy</li>
                            <li>Total Member Balance = Total value of the personal Virtual Wallet + Total value of personal Active Wallet</li>
                            <li>Network Balance = Total value of the Referred Members Virtual Wallet + Total value of Referred Members Active Wallet</li>
                            <li>Total Balance =  Member Total Balance + Member Network Balance</li>
                        </ul>
                    </p>
                    <p class="msig-justify w3-margin">
                        Commissions are calculated based on the Total Balance, defined as follows:
                        <ul>
                            <li>Base rate of 30% on each gain.</li>
                            <li>When the Total Balance reaches $10,000, an automatic reduction of 0.0002% will be deducted per $1 added until a minimum of 10% in commissions.</li>
                        </ul>
                    </p>
                    <h6 class="msig-text-purple w3-margin">
                        Full details are available in the <a href="../../template/extra/referral.html" class="msig-url-clean w3-text-blue">Referral System</a> section.
                    </h6>                    

                    <h5 class="msig-padding-top msig-text-gold"><span class="notranslate"> "Prop Firm" </span> : Commissions Specification</h5>
                    <h6 class="msig-padding-top msig-text-gold w3-margin">FTMO &copy;</h6>
                    <p class="msig-justify w3-margin">
                        FTMO &copy; retains between 10% and 20% depending on the accounts.
                    </p>
                    <p class="msig-justify w3-margin">
                        MoneySmart Investment Group applies the following percentages on each gain when managing FTMO &copy; accounts:
                        <ul>
                            <li>$10,000 Wallet <span class="material-symbols-outlined msig-icon-middle">line_end_arrow_notch</span> 35%</li>
                            <li>$25,000 Wallet <span class="material-symbols-outlined msig-icon-middle">line_end_arrow_notch</span> 33%</li>
                            <li>$50,000 Wallet <span class="material-symbols-outlined msig-icon-middle">line_end_arrow_notch</span> 32%</li>
                            <li>$100,000 Wallet <span class="material-symbols-outlined msig-icon-middle">line_end_arrow_notch</span> 31%</li>
                            <li>$200,000 Wallet <span class="material-symbols-outlined msig-icon-middle">line_end_arrow_notch</span> 30%</li>
                        </ul>
                    </p>
                    <p class="msig-center w3-margin msig-text-gold">
                        Discounts based on the balance are applicable to FTMO &copy; accounts according to the Total Balance, which is the amounts in MoneySmart Investment Group's strategies. The value of the FTMO account is not included in the calculation.
                    </p>                    

                    <p class="msig-border-bottom">&nbsp;</p>
                    
                    <h5 class="msig-padding-top msig-text-gold">Member Payment Terms</h5>
                    <p class="msig-justify w3-margin">
                        Each week, a report (invoice) is sent via email to the Member. This report includes the calculation of the percentage of commissions owed, with a payment deadline of 14 days. In case of non-payment within this period, the service will be suspended, and all commissions must be settled before service reactivation.
                    </p>
                    <p class="msig-justify w3-margin">
                        MoneySmart Investment Group accepts payments in the following currencies:
                        <ul>
                            <li>Crypto</li>
                            <ul>
                                <li><span class="notranslate">USDT (Theter USD)</span></li>
                                <li><span class="notranslate">BTC (Bitcoin)</span></li>
                                <li><span class="notranslate">ETH (Ethereum)</span></li>
                                <li><span class="notranslate">LTC (Litecoin)</span></li>
                            </ul>
                            <li>Fiat (International Wire Transfer)</li>
                            <ul>
                                <li><span class="notranslate">USD &#36;</span></li>
                                <li><span class="notranslate">CAD &#36;</span></li>
                                <li><span class="notranslate">EURO &#8364;</span></li>
                            </ul>
                        </ul>
                    </p>                    

                    <p class="msig-border-bottom">&nbsp;</p>

                    <h5 class="msig-padding-top msig-text-gold">Disclaimer and Warranty Limitations</h5>
                    <p class="msig-justify w3-margin">
                        MoneySmart Investment Group shall not be liable for any losses or damages suffered by the Member resulting from the use of their services, except in cases of gross negligence or willful misconduct.<br>
                        <b>By accepting these terms, the Member acknowledges and accepts the risks inherent in trading and investment activities, and waives any claims against MoneySmart Investment Group for a partial or total financial losses.</b>
                    </p>
                    
                    <p class="msig-border-bottom">&nbsp;</p>
                    
                    <h5 class="msig-padding-top msig-text-gold">General Provisions</h5>
                    <p class="msig-justify w3-margin">
                        These terms constitute the entire agreement between the Member and MoneySmart Investment Group regarding the subject matter of the contract, and supersede all prior or contemporaneous agreements between the parties. 
                    </p>
                    <p class="msig-justify w3-margin">                        
                        In the event of a dispute arising from or relating to these terms, the parties agree to submit the matter to arbitration in accordance with the rules of the International Organization for Commercial Arbitration. MoneySmart Investment Group reserves the right to modify these terms, and it is the Member's responsibility to stay updated following announcements of modifications, either via email or on the website. 
                    </p>
                    <p class="msig-justify w3-margin">                              
                        Use of our services confirms acceptance of these terms of use. If the Member does not agree with these terms of use, it is their duty to remove all their assets from our platform.
                    </p>                    
                </div>
            </div>
        </div>
        
    </div>

</div>


<div id="footer"></div>

