<!--
##############################################
#                                            #
#     Copyright, this script is owned by     #
#        MoneySmart Investment Group         #
#                                            #
#                                            #
#      M   M     SSS     IIIII     GGG       #
#      MM MM    S   S      I      G   G      #
#      MM MM    S          I      G          #
#      M M M     SSS       I      GGGGG      #
#      M   M        S      I      G   G      #
#      M   M    S   S      I      G   G      #
#      M   M     SSS     IIIII     GGG       #
#                                            #
#                                            #
#             All right reserved             #
# https://www.moneysmartinvestmentgroup.com  #
#                                            #
##############################################
--> 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/msig-tech/msig-w3-css/msig.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nanum Gothic|Old Standard TT|Suez One|IM Fell English SC">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <script src="../../static/js/header-footer-loader-template.js"></script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

    <title>MSIG - MoneySmart Investment Group</title>
</head>

<body>

<div class="w3-display-bottomright" style="position: fixed; bottom: 20px; right: 20px;">
    <div id="google_translate_element"></div>
</div>

<div id="header"></div>

<div class="w3-container msig-padding-top-title">

    <div class="w3-padding-48">
        <h1 class="w3-panel w3-center msig-padding-down">Les petits caractères que personnes ne lis,<br>
            mais qui devraient être lus,<br>
            c'est pour cette raison qu'ils ne sont pas si petits...</h1>

        <div class="w3-padding-48">   
            <div class="msig-card-gold w3-margin">
                <div class="w3-container">
                    <h3 class="w3-panel w3-center">
                        Les risques liés à l'utilisation de nos services
                    </h3>

                    <h5 class="msig-padding-top msig-text-gold">Risque #1 ; Perte de capital</h5>
                    <p class="msig-justify w3-margin">
                        Les entreprises, à n'importe quel stade, peuvent échouer et si cela se produit, vous perdrez la totalité de l'investissement que vous avez fait. 
                        Vous ne devriez jamais investir plus d'argent que vous ne pouvez vous permettre de perdre sans devoir modifier votre niveau de vie.
                    </p>
                    <h5 class="msig-padding-top msig-text-gold">Risque #2 ; perte d'accès à votre compte</h5>
                    <p class="msig-justify w3-margin">
                        Vous pouvez oublier les identifiants de votre compte ou quelqu'un peut voler vos identifiants de connexion et effectuer des transactions non autorisées.
                    </p>
                    <h5 class="msig-padding-top msig-text-gold">Risque #3 ; Autres risques de cybersécurité, y compris les activités malveillantes</h5>
                    <p class="msig-justify w3-margin">
                        Les plateformes en ligne et les fournisseurs de services tiers peuvent être vulnérables au piratage ou à d'autres activités malveillantes. Par exemple, en août 2016, près de 120 000 unités représentant 72 millions de dollars américains de bitcoins ont été volées sur la bourse Bitfinex à Hong Kong, ce qui a entraîné une chute immédiate de 23 % des prix . Un an plus tôt, en septembre 2015, BitPay a perdu environ 1,8 million de dollars de bitcoins en raison d'une attaque de phishing. 
                    </p>
                    <h5 class="msig-padding-top msig-text-gold">Risque #4 ; dysfonctionnement d'une infrastructure Internet critique</h5>
                    <p class="msig-justify w3-margin">
                        Le théâtre des menaces se caractérise de plus en plus par des groupes organisés ou des acteurs non étatiques et des individus recourant à des attaques asymétriques rendues possibles par la connectivité universelle qu'offre Internet et la disponibilité des outils et des informations d'attaque nécessaires. La perte de contrôle sur la technologie résultant de la mondialisation, le besoin d'accessibilité en ligne et la propriété étrangère des infrastructures critiques augmentent également les vulnérabilités.
                    </p>
                    <h5 class="msig-padding-top msig-text-gold">Risque #5 ; Pas de garantie de résultat</h5>
                    <p class="msig-justify w3-margin">
                        Nous analysons la performance moyenne sur la base des résultats globaux passés. Les résultats individuels peuvent varier. Il faut se rappeler que les performances passées ne garantissent pas les résultats futurs. 
                    </p>
                    <h5 class="msig-padding-top msig-text-gold">Risque #6 ; Risques législatifs</h5>
                    <p class="msig-justify w3-margin">
                        Le risque législatif est la possibilité que les réglementations ou les lois du gouvernement modifient de manière significative les perspectives commerciales d'une ou plusieurs entreprises. Ces changements peuvent avoir un effet négatif sur les investissements dans cette société. Le risque législatif peut être le résultat direct d'une action gouvernementale ou d'une modification de la structure de la demande des Membres de l'entreprise.
                    </p>
                    <h5 class="msig-padding-top msig-text-gold">Risque #7 ; Risque de récession économique</h5>
                    <p class="msig-justify w3-margin">
                        Une récession est un terme macroéconomique qui fait référence à une baisse significative de l'activité économique générale dans une région donnée. Elle est généralement reconnue comme étant deux trimestres consécutifs de déclin économique, tel que reflété par le PIB en conjonction avec des indicateurs mensuels tels que la hausse du chômage. Actuellement, le coronavirus qui se propage rapidement menace les économies mondiales. 
                    </p>
                    <h5 class="msig-padding-top msig-text-gold">Risque #8 ; inconnus (autres risques non identifiés)</h5>
                    <p class="msig-justify w3-margin">
                        Ces types de risques posent un risque potentiellement plus important simplement parce qu'ils ne peuvent pas être anticipés sur la base d'expériences ou d'enquêtes passées. Les inconnus sont des phénomènes auxquels on ne peut pas s'attendre parce qu'il n'y a pas eu d'expérience antérieure ou de base théorique pour s'attendre à ces phénomènes.
                    </p>
                    <div class="msig-padding-top-down">
                        <h6 class="msig-text-gold msig-center msig-padding-top-down">
                            Nous prenons des mesures pour atténuer tous les risques possibles afin de rendre notre modèle d'entreprise aussi adaptable que possible.<br>
                            Mais il est important de comprendre qu'il n'existe pas d'environnement sans risque dans une entreprise.
                        </h6>
                    </div>
                </div>
            </div>
        </div>

        <div class="w3-padding-48">
            <div class="msig-card-gold w3-margin">
                <div class="w3-container">
                    <h3 class="w3-panel w3-center">
                        Conditions d'utilisations
                    </h3>

                    <h5 class="msig-padding-top msig-text-gold">Acceptation des Conditions</h5>
                    <p class="msig-justify w3-margin">
                        En accédant à notre plateforme et en utilisant nos services, vous acceptez de vous conformer aux présentes Conditions d'Utilisation. Si vous n'êtes pas d'accord avec l'une de ces conditions, veuillez ne pas utiliser nos services.
                    </p>
                    <h5 class="msig-padding-top msig-text-gold">Description des Services</h5>
                    <p class="msig-justify w3-margin">
                        Nos services comprennent la gestion de fonds dans les secteurs financiers du forex et de la crypto-monnaie. Nous mettons à votre disposition notre expertise et notre savoir-faire pour optimiser vos investissements et maximiser vos rendements.
                    </p>
                    <h5 class="msig-padding-top msig-text-gold">Responsabilité</h5>
                    <p class="msig-justify w3-margin">
                        Vous reconnaissez que les investissements dans les marchés financiers comportent des risques, et que les performances passées ne garantissent pas les résultats futurs. Nous ne pouvons garantir des rendements spécifiques et déclinons toute responsabilité en cas de pertes financières. 
                    </p>
                    <h5 class="msig-padding-top msig-text-gold">Confidentialité</h5>
                    <p class="msig-justify w3-margin">
                        Nous prenons la confidentialité de vos informations personnelles très au sérieux. Toutes les données que vous nous fournissez sont traitées conformément à notre Politique de Confidentialité, disponible sur notre site web.
                    </p>
                    <h5 class="msig-padding-top msig-text-gold">Propriété Intellectuelle</h5>
                    <p class="msig-justify w3-margin">
                        Tout le contenu présent sur notre plateforme, y compris les textes, les graphiques, les logos, les images et les vidéos, est la propriété exclusive de notre compagnie et est protégé par les lois sur la propriété intellectuelle. Vous vous engagez à ne pas reproduire, distribuer ou utiliser ce contenu sans notre autorisation écrite préalable.
                    </p>
                    <h5 class="msig-padding-top msig-text-gold">Modifications</h5>
                    <p class="msig-justify w3-margin">
                        Nous nous réservons le droit de modifier ces Conditions d'Utilisation à tout moment, sans préavis. Il est de votre responsabilité de consulter régulièrement cette page pour prendre connaissance des éventuelles mises à jour. Votre utilisation continue de nos services après la publication de modifications constitue votre acceptation de ces modifications.
                    </p>
                    <h5 class="msig-padding-top msig-text-gold">Contact</h5>
                    <p class="msig-justify w3-margin">
                        Si vous avez des questions ou des préoccupations concernant ces Conditions d'Utilisation, veuillez nous contacter à l'adresse fournie sur notre site web.
                    </p>
                </div>
            </div>
        </div>

        <div class="w3-padding-48">
            <div class="msig-card-gold w3-margin">
                <div class="w3-container">
                    <h3 class="w3-panel w3-center">
                        Le contrat que les membres doivent comprendre
                    </h3>

                    <h5 class="msig-padding-top msig-text-gold">Objet du contrat - Gestion du Portefeuille d’investissement</h5>
                    <p class="msig-justify w3-margin">
                        Le Membre confie à MoneySmart Investment Group la gestion de son Portefeuille d’investissement, comprenant des actifs sur le marché du Forex, des Crypto Monnaie ou des biens immobiliers, désigné ci-après comme le « Portefeuille ». Cette gestion est soumise aux dispositions énoncées dans ce contrat.
                    </p>

                    <p class="msig-border-bottom">&nbsp;</p>
                    
                    <h5 class="msig-padding-top msig-text-gold">Responsabilité du membre</h5>
                    <h6 class="msig-padding-top msig-text-gold w3-margin">Communications</h6>
                    <p class="msig-justify w3-margin">
                        Le Membre est tenu de fournir une adresse e-mail valide pour les communications.
                    </p>
                    <h6 class="msig-padding-top msig-text-gold w3-margin">Paiements</h6>
                    <p class="msig-justify w3-margin">
                        Le Membre est responsable du paiement des commissions dans un délai maximum de 14 jours.
                    </p>
                    <h6 class="msig-padding-top msig-text-gold w3-margin">Informations de connexion</h6>
                    <p class="msig-justify w3-margin">
                        Le Membre doit fournir les informations de connexion nécessaires à MoneySmart Investment Group sur demande.
                    </p>
                    <h6 class="msig-padding-top msig-text-gold w3-margin">Confidentialité</h6>
                    <p class="msig-justify w3-margin">
                        Le Membre s'engage à maintenir la confidentialité de ses informations de compte et à ne pas les divulguer à des tiers non autorisés.
                    </p>
                    <h6 class="msig-padding-top msig-text-gold w3-margin">Notification de Changement</h6>
                    <p class="msig-justify w3-margin">
                        Le Membre doit informer MoneySmart Investment Group de tout changement dans ses coordonnées ou ses informations de compte.
                    </p>
                    <h6 class="msig-padding-top msig-text-gold w3-margin">Conformité aux Lois et Règlements</h6>
                    <p class="msig-justify w3-margin">
                        Le Membre s'engage à respecter toutes les lois et réglementations applicables en matière de trading et d'investissement dans sa juridiction fiscale.
                    </p>
                    <h6 class="msig-padding-top msig-text-gold w3-margin">Utilisation des services</h6>
                    <p class="msig-justify w3-margin">
                        Le Membre reconnaît que les services fournis par MoneySmart Investment Group sont destinés à un usage personnel ou commercial uniquement et ne doivent pas être utilisés à des fins illégales.
                    </p>
                    <h6 class="msig-padding-top msig-text-gold w3-margin">Limitation de Responsabilité</h6>
                    <p class="msig-justify w3-margin">
                        MoneySmart Investment Group décline toute responsabilité pour les pertes ou dommages résultant de l'utilisation des services, sauf en cas de négligence grave ou de faute intentionnelle.
                    </p>

                    <p class="msig-border-bottom">&nbsp;</p>
                    
                    <h5 class="msig-padding-top msig-text-gold">Objectifs d’investissements</h5>
                    <p class="msig-justify w3-margin">
                        Les parties reconnaissent que le Membre a communiqué ses objectifs d’investissements à MoneySmart Investment Group.
                    </p>
                    <p class="msig-justify w3-margin">
                        MoneySmart Investment Group s’engage à gérer le Portefeuille en tenant compte des objectifs d’investissements du Membre, sous réserve des lois applicables.
                    </p>
                    <p class="msig-justify w3-margin">
                        Le Membre convient de notifier par écrit (par courriel ou via l'Espace Membre) à MoneySmart Investment Group tout changement significatif pouvant influer sur sa situation financière et, par conséquent, sur ses objectifs d’investissements.
                    </p>

                    <p class="msig-border-bottom">&nbsp;</p>
                    
                    <h5 class="msig-padding-top msig-text-gold">Stratégies d’investissement et risques associés</h5>
                    <p class="msig-justify w3-margin">
                        MoneySmart Investment Group s'engage à respecter les stratégies d’investissement spécifiées par le Membre, ainsi que sa propre tolérance au risque.
                    </p>
                    <p class="msig-justify w3-margin">                        
                        Nous encourageons activement nos Membres à sélectionner des stratégies d’investissement qui correspondent à leurs objectifs financiers, à leur horizon temporel et à leur appétit pour le risque. Chaque stratégie d’investissement comporte un niveau de risque inhérent, et il est impératif que le Membre comprenne et accepte les risques associés à chaque stratégie choisie.
                    </p>
                    <p class="msig-justify w3-margin">                        
                        MoneySmart Investment Group propose une diversité de stratégies d’investissement, chacune conçue pour répondre à différents niveaux de tolérance au risque. Notre équipe d'experts en investissement est disponible pour offrir des informations générales sur nos stratégies et expliquer leur fonctionnement. Nous sommes également prêts à clarifier les caractéristiques de chaque stratégie afin que les Membres puissent prendre des décisions éclairées en fonction de leurs connaissances financières et de leurs objectifs d’investissement.
                    </p>
                    <p class="msig-justify w3-margin">                        
                        Il est important de noter que MoneySmart Investment Group ne fournit pas de conseils financiers personnalisés ou spécifiques à un individu. Nos interactions avec les Membres sont destinées à fournir des informations générales sur nos produits et services, et à répondre à toute question qu'ils pourraient avoir. Les Membres sont encouragés à consulter un professionnel qualifié pour obtenir des conseils personnalisés sur leurs décisions d’investissement.
                    </p>
                    <p class="msig-justify w3-margin">
                        Toutes les formes d’investissement comportent un risque, et les rendements passés ne garantissent pas les résultats futurs. Le Membre est encouragé à diversifier son portefeuille et à consulter régulièrement nos rapports et analyses pour prendre des décisions éclairées concernant ses investissements.
                    </p>
                    <p class="msig-justify w3-margin">
                        En acceptant ces conditions, le Membre reconnaît et accepte les risques associés à l’investissement et comprend que MoneySmart Investment Group ne peut être tenue responsable des pertes financières résultant de ses décisions d’investissement.
                    </p>

                    <p class="msig-border-bottom">&nbsp;</p>
                    
                    <h5 class="msig-padding-top msig-text-gold">Pouvoir du Gestionnaire</h5>
                    <h6 class="msig-padding-top msig-text-gold w3-margin">Forex trading</h6>
                    <p class="msig-justify w3-margin">
                        En qualité de gestionnaire de fonds, MoneySmart Investment Group est autorisée à accéder aux plateformes de trading forex nécessaires à l'exécution des opérations conformément aux objectifs et stratégies convenus avec le membre. Dans l'exercice de ses fonctions, MoneySmart Investment Group peut prendre des décisions de trading et exécuter des transactions sur ses propres comptes ainsi que sur les comptes de trading du membre.
                    </p>
                    <p class="msig-justify w3-margin">
                        Il convient de noter que pour certaines stratégies spécifiques, il peut être facultatif de confier à MoneySmart Investment Group l'accès aux plateformes de trading. Dans de telles circonstances, les membres ont la possibilité de gérer leurs propres connexions sans fournir d'accès à notre équipe, tout en appliquant une gestion du risque appropriée.
                    </p>
                    <h6 class="msig-padding-top msig-text-gold w3-margin">Crypto</h6>
                    <p class="msig-justify w3-margin">
                        En qualité de gestionnaire de fonds, MoneySmart Investment Group est autorisée à accéder aux plateformes de crypto nécessaires pour effectuer des transactions, conformément aux objectifs et aux stratégies convenus avec le membre. Dans l'exercice de ses fonctions de gestion, MoneySmart Investment Group peut prendre des décisions de trading et exécuter des transactions sur ses comptes propres, où les actifs des membres sont regroupés pour être gérés collectivement.
                    </p>

                    <p class="msig-border-bottom">&nbsp;</p>

                    <h5 class="msig-padding-top msig-text-gold">Ouverture de compte Forex</h5>
                    <p class="msig-justify w3-margin">
                        Le Membre est responsable de l'ouverture d'un compte Forex auprès du courtier spécifiquement recommandé pour la stratégie en question. En l'absence de toute recommandation de courtier de la part de MoneySmart Investment Group, il est de la responsabilité du Membre de choisir un courtier répondant à ses critères personnels.
                    </p>
                    <p class="msig-justify w3-margin">
                        Les liens d'adhésion fournis doivent être suivis afin de garantir la conformité aux stratégies convenues.
                    </p>
                    <p class="msig-justify w3-margin">
                        Il convient de noter que l'ouverture d'un compte Forex n'est pas obligatoire pour toutes les stratégies. Nous encourageons les Membres à consulter les descriptions de stratégies pour obtenir des détails spécifiques sur les exigences relatives aux comptes Forex.
                    </p>

                    <p class="msig-border-bottom">&nbsp;</p>
                    
                    <h5 class="msig-padding-top msig-text-gold">Accès aux plateformes de trading</h5>
                    <p class="msig-justify w3-margin">
                        Le membre reconnaît et accepte que, pour permettre à MoneySmart Investment Group d'exécuter ses fonctions en tant que gestionnaire de fonds, il est nécessaire de fournir à MoneySmart Investment Group un accès approprié et sécurisé aux plateformes de trading forex utilisées pour les opérations de trading. Le membre s'engage à fournir à MoneySmart Investment Group les informations d'identification et les autorisations nécessaires pour accéder à ses comptes de trading.
                    </p>
                    <p class="msig-justify w3-margin">
                        MoneySmart Investment Group garantit que toutes les informations d'identification fournies par le membre seront traitées de manière confidentielle et utilisées uniquement dans le but d'exécuter les fonctions de gestion convenues avec le membre. MoneySmart Investment Group s'engage à prendre toutes les mesures raisonnables pour protéger la sécurité et la confidentialité des informations d'identification du membre.
                    </p>
                    <p class="msig-justify w3-margin">                        
                        Dans le cas où le Membre choisit de gérer lui-même ses propres comptes de trading, il lui incombe de maintenir la sécurité de ses propres informations d'identification et de gérer son propre risque sans l'intervention de MoneySmart Investment Group.
                    </p>

                    <p class="msig-border-bottom">&nbsp;</p>
                    
                    <h5 class="msig-padding-top msig-text-gold">Garde de valeurs</h5>
                    <h6 class="msig-padding-top msig-text-gold w3-margin">Transfert des actifs à MoneySmart Investment Group</h6>
                    <p class="msig-justify w3-margin">
                        Le Portefeuille et toutes les sommes d’argent encaissées aux termes de la présente Convention sont en tout temps sous la garde de MoneySmart Investment Group.  
                    </p>
                    <h6 class="msig-padding-top msig-text-gold w3-margin">Gestion des actifs de manière autonome</h6>
                    <p class="msig-justify w3-margin">
                        Le Membre conserve la garde du Portefeuille et de toutes les sommes d’argent encaissées aux termes de la présente Convention. 
                    </p>

                    <p class="msig-border-bottom">&nbsp;</p>
                                        
                    <h5 class="msig-padding-top msig-text-gold">Retraits et dépôts</h5>
                    <h6 class="msig-padding-top msig-text-gold w3-margin">Portefeuille virtuel</h6>
                    <p class="msig-justify w3-margin">
                        Les retraits et les dépôts du portefeuille virtuel sont disponibles en tout temps, sous réserve des dispositions relatives aux devises acceptées. Les membres peuvent effectuer des transactions de retrait ou de dépôt dans les devises acceptées par MoneySmart Investment Group, conformément aux procédures et aux limites établies. Les retraits et les dépôts peuvent être assujettis à des frais, des délais de traitement et des conditions spécifiques, qui seront clairement communiqués aux membres. MoneySmart Investment Group se réserve le droit de modifier ces conditions à tout moment, sous réserve d'un préavis raisonnable aux membres.
                    </p>
                    <h6 class="msig-padding-top msig-text-gold w3-margin">Portefeuille réservé à une stratégie</h6>
                    <p class="msig-justify w3-margin">
                        Les actifs réservés à une stratégie sont ceux qui sont en cours d'utilisation dans une stratégie spécifique. Ces actifs sont disponibles pour retrait vers le portefeuille virtuel uniquement lorsqu'ils ne sont pas engagés dans une position active. Les actifs déposés sont considérés comme engagés dès qu'une stratégie ouvre une position avec eux. Les actifs engagés sont gelés et ne peuvent être modifiés, ni en ajoutant des fonds, ni en retirant des fonds, tant que la position est active. MoneySmart Investment Group se réserve le droit de définir des conditions spécifiques pour les retraits et les dépôts de ces actifs réservés à une stratégie, lesquelles seront communiquées clairement aux membres.
                    </p>
                    <h6 class="msig-padding-top msig-text-gold w3-margin">Retrait complet des actifs d'une stratégie</h6>
                    <p class="msig-justify w3-margin">
                        Le membre a le droit de demander le retrait complet de ses actifs d'une stratégie à tout moment. MoneySmart Investment Group s'engage à faire de son mieux pour retirer les fonds complets vers le portefeuille virtuel dès que possible. Cela peut se produire soit lorsque toutes les positions qui sont actuellement au travail dans la stratégie sont fermées, soit lorsque MoneySmart Investment Group dispose des liquidités nécessaires pour transférer les fonds. MoneySmart Investment Group informera le membre dès que le retrait complet des actifs sera effectué, et s'efforcera de minimiser les délais de traitement autant que possible.
                    </p>

                    <p class="msig-border-bottom">&nbsp;</p>
                    
                    <h5 class="msig-padding-top msig-text-gold">Rapport</h5>
                    <p class="msig-justify w3-margin">
                        MoneySmart Investment Group est tenue de maintenir une comptabilité complète et détaillée du Portefeuille du Membre. Ce rapport fournira des informations détaillées sur les transactions, y compris les gains ou pertes, les commissions, ainsi que toute autre information pertinente requise pour remplir les rapports fiscaux annuels.
                    </p>
                    <p class="msig-justify w3-margin">
                        Le rapport détaillé est disponible en temps réel dans l'espace membre. Il incombe au membre de vérifier régulièrement son rapport. En cas d'erreur dans le rapport, le membre peut demander une correction dans un délai de 21 jours à compter de la date de l'événement. Aucune modification ne sera possible après cette période de 21 jours en cas d'erreur.
                    </p>

                    <p class="msig-border-bottom">&nbsp;</p>
                    
                    <h5 class="msig-padding-top msig-text-gold">Gains et pertes</h5>
                    <p class="msig-justify w3-margin">
                        Suite au rapport hebdomadaire, le Membre s'engage à rémunérer MoneySmart Investment Group selon un pourcentage convenu des gains réalisés. Pour les comptes collectifs (pool), les commissions seront automatiquement déduites après chaque gain, libérant ainsi le Membre de toute responsabilité à cet égard.
                    </p>
                    <p class="msig-justify w3-margin">
                        En cas de pertes, celles-ci seront entièrement supportées par le Membre, sauf indication contraire.
                    </p>
                    <p class="msig-justify w3-margin">
                        Le Portefeuille sera réévalué en temps réel et le niveau de risque sera ajusté en conséquence afin d'optimiser les performances. Il est donc fortement recommandé de réinvestir les gains à court terme dans le Portefeuille pour en maximiser le potentiel.
                    </p>
                    <p class="msig-center w3-margin msig-text-gold">
                        Il est important de noter que MoneySmart Investment Group ne peut garantir aucun gain suite aux investissements, étant donné que les marchés financiers comportent un risque inhérent. Les résultats passés ne préjugent en rien des résultats futurs.
                    </p>

                    <p class="msig-border-bottom">&nbsp;</p>
                    
                    <h5 class="msig-padding-top msig-text-gold">Commissions</h5>
                    <p class="msig-justify w3-margin">
                        Définition des termes utilisés : 
                        <ul>
                            <li>Solde Personnel Total = Valeur totale du Portefeuille virtuel + Valeur totale du portefeuille actif personnel</li>
                            <li>Solde du Réseau = Valeur totale du Portefeuille virtuel + Valeur totale du portefeuille actif des personnes référés</li>
                            <li>Solde Total = Solde Personnel Total + Solde du Réseau</li>
                        </ul>
                    </p>
                    <p class="msig-justify w3-margin">
                        Les commissions sont calculées en fonction de la valeur totale du Portefeuille, définie comme suit :
                        <ul>
                            <li>Taux de base de 30% sur chaque gain.</li>
                            <li>Lorsque le Solde Total atteint 10 000$, 1% sera déduit pour un total en commissions de 29%.</li>
                            <li>Ensuite, 0.001% sera déduit par tranche de 100$ jusqu’à un minimum de 10% en commissions.</li>
                        </ul>
                    </p>
                    <h5 class="msig-padding-top msig-text-gold w3-margin">Spécification avec la gestion des comptes "prop firm"</h5>
                    <h6 class="msig-padding-top msig-text-gold w3-margin">FTMO &copy;</h6>
                    <p class="msig-justify w3-margin">
                        FTMO &copy; se garde entre 10% et 20% selon les comptes, basé en dollars USD.
                    </p>
                    <p class="msig-justify w3-margin">
                        MoneySmart Investment Group applique les pourcentages suivants sur chaque gain lors de la gestion des comptes FTMO &copy; :
                        <ul>
                            <li>Portefeuille de 10 000$ <span class="material-symbols-outlined msig-icon-middle">line_end_arrow_notch</span> 35%</li>
                            <li>Portefeuille de 25 000$ <span class="material-symbols-outlined msig-icon-middle">line_end_arrow_notch</span> 33%</li>
                            <li>Portefeuille de 50 000$ <span class="material-symbols-outlined msig-icon-middle">line_end_arrow_notch</span> 32%</li>
                            <li>Portefeuille de 100 000$ <span class="material-symbols-outlined msig-icon-middle">line_end_arrow_notch</span> 31%</li>
                            <li>Portefeuille de 200 000$ <span class="material-symbols-outlined msig-icon-middle">line_end_arrow_notch</span> 30%</li>
                        </ul>
                    </p>
                    <p class="msig-center w3-margin msig-text-gold">
                        Les rabais selon le solde sont applicables aux comptes FTMO &copy; selon le Solde Total, c'est-à-dire les montants dans les stratégies de MoneySmart Investment Group. La valeur du compte FTMO n’est pas incluse dans le calcul.
                    </p>

                    <p class="msig-border-bottom">&nbsp;</p>
                    
                    <h5 class="msig-padding-top msig-text-gold">Modalités de Paiements des membres</h5>
                    <p class="msig-justify w3-margin">
                        Chaque semaine, un rapport (facture) est envoyé par courriel au Membre. Ce rapport inclut le calcul du pourcentage de commissions dû, avec un délai de paiement de 14 jours. En cas de non-paiement dans ce délai, le service sera interrompu et toutes les commissions devront être réglées avant la réactivation du service.
                    </p>
                    <p class="msig-justify w3-margin">
                        MoneySmart Investment Group accepte les paiements dans les devises suivantes :
                        <ul>
                            <li>Crypto</li>
                            <ul>
                                <li>USDT</li>
                            </ul>
                            <li>Fiat (Virement internationnal)</li>
                            <ul>
                                <li>USD</li>
                                <li>CAD</li>
                                <li>EURO</li>
                            </ul>
                        </ul>
                    </p>

                    <p class="msig-border-bottom">&nbsp;</p>

                    <h5 class="msig-padding-top msig-text-gold">Décharges de responsabilité et limitations de garantie</h5>
                    <p class="msig-justify w3-margin">
                        MoneySmart Investment Group ne peut être tenue responsable des pertes ou dommages subis par le Membre résultant de l'utilisation des services, sauf en cas de négligence grave ou de faute intentionnelle. En acceptant les présentes conditions, le Membre reconnaît et accepte les risques inhérents aux activités de trading et d'investissement, et renonce à toute réclamation contre MoneySmart Investment Group pour des pertes financières.
                    </p>

                    <p class="msig-border-bottom">&nbsp;</p>

                    <h5 class="msig-padding-top msig-text-gold">Dispositions générales</h5>
                    <p class="msig-justify w3-margin">
                        Les présentes conditions constituent l'intégralité de l'accord entre le Membre et MoneySmart Investment Group concernant l'objet du contrat, et remplacent tous les accords antérieurs ou contemporains entre les parties. Aucune modification des présentes conditions ne sera valide à moins d'être écrite et signée par les deux parties. En cas de litige découlant de ou en relation avec les présentes conditions, les parties conviennent de soumettre la question à l'arbitrage conformément aux règles de l'Organisation internationale pour l'arbitrage commercial.
                    </p>
                </div>
            </div>
        </div>
        
    </div>

</div>


<div id="footer"></div>

