<!--
##############################################
#                                            #
#     Copyright, this script is owned by     #
#        MoneySmart Investment Group         #
#                                            #
#                                            #
#      M   M     SSS     IIIII     GGG       #
#      MM MM    S   S      I      G   G      #
#      MM MM    S          I      G          #
#      M M M     SSS       I      GGGGG      #
#      M   M        S      I      G   G      #
#      M   M    S   S      I      G   G      #
#      M   M     SSS     IIIII     GGG       #
#                                            #
#                                            #
#             All right reserved             #
# https://www.moneysmartinvestmentgroup.com  #
#                                            #
##############################################
--> 

{% extends "fr/maintemplate.html" %}

{% block content %}
<div class="w3-padding-48">
    <div class="msig-card-gold w3-margin">

        <div class="w3-container">

            <h1 class="w3-panel w3-center">La nouvelle ère de l'investissement</h1>
                <p class="w3-panel w3-center">
            Des bons rendements. Des intelligences artificielles hybrides qui s'adaptent aux différents marchés.  
                </p>
        </div>
    </div>
</div>

<div class="w3-padding-48">
    <div class="msig-card-gold w3-margin">

        <div class="w3-container">

            <h1 class="w3-panel w3-center">La cynergie MSIG</h1>
                <p class="w3-panel w3-center">
                    <ul class="w3-center msig-ul-clean">
                        <li>
                        Assurer un accès à tous les services à un seul endroit
                        </li>

                        <li>
                        Simplifier la complexité
                        </li>
                    </ul>
                </p>
        </div>
    </div>
</div>

<div class="w3-padding-48">
    <div class="msig-card-gold w3-margin">

        <h1 class="w3-panel w3-center">Une diversification afin de diminuer le risque
        </h1>

        <div class="w3-container">
            <div class="msig-card">
                <h3 class="w3-center">
                Forex
                </h3>

                <div class="w3-panel">
                    <p class="msig-left-align w3-half">
                    Le Forex, aussi connu sous le nom de marché des changes, FX ou trading des devises, est un marché international décentralisé où sont échangées toutes les devises mondiales. Le marché du Forex est le plus important marché liquide au monde avec un volume moyen de trading journalier excédant 5 trillions de dollars.
                    </p>
                </div>
            </div>
        </div>

        <div class="w3-container">
            <div class="msig-card">
                <h3 class="w3-center">
                Crypto
                </h3>

                <div class="w3-panel">
                    <p class="msig-right-align w3-half">
                    </p>

                    <p class="w3-right msig-left-align w3-half">
                    Une crypto-monnaie est un système de paiement numérique qui ne s'appuie pas sur les banques pour vérifier les transactions. Il s'agit d'un système de partage P2P (peer-to-peer) permettant à tout le monde d'envoyer et de recevoir des paiements n'importe où. Lorsque tu transfères des fonds en crypto monnaies, les transactions sont enregistrées dans un registre public. Les crypto-monnaies sont stockées dans des portefeuilles numériques.
                    </p>
                </div>
            </div>
        </div>

        <div class="w3-container">
            <div class="msig-card">
                <h3 class="w3-center">
                Gestion immobilière
                </h3>

                <div class="w3-panel">
                    <p class="msig-left-align w3-half">
                    La gestion immobilière est la gestion appliquée aux immeubles, qu'ils soient résidentiels, commerciaux ou industriels ainsi qu'aux terrains.
                    <br>
                    Ceci consiste également à la prise en charge d'un bien immobilier extérieur, incluant les services de gestion du loyer, la recherche de locataires, le traitement des documents administratifs, la maintenance ainsi que la gestion des conflits.
                    <br>  
                    Le savoir du professionnel permet un gain en temps pour le propriétaire ; en effet, le marché immobilier nécessite des connaissances sur le marché local, d'ordre juridique ou administratif que le propriétaire n'a pas forcément.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="w3-padding-48">
    <div class="msig-card-gold w3-margin msig-background-tech1">
        <h1 class="w3-panel w3-center">
        Un petit regard sur l'avenir
        </h1>
        <div class="w3-row-padding">
            <div class="w3-quarter">
                <div class="msig-card w3-margin">
                    <div class="w3-container">
                        <h3 class="w3-center">
                        Bruce whale
                        </h3>

                        <div class="w3-container">
                            <p>
                            Une intelligence artificielle pouvant lire des signaux, anlyser des marchés, prendre des décisions et être capable de s'ajuster en temps réel
                            </p>
                            <p>
                            Buce Whale sera lancé, sans toutefois s'y limiter, sur le marché de la crypto en premier lieux, ensuite sur le marché du Forex
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="w3-quarter">
                <div class="msig-card w3-margin">
                    <div class="w3-container">
                        <h3 class="w3-center">
                        Algorithmes
                        </h3>

                        <div class="w3-container">
                            <p>
                            Quelques algorithmes sont présentement en développement.  Nous travaillons sur différents styles, comme le "scalping" et les figures harmoniques
                            </p>
                        </div>
                    </div>
                </div> 
            </div>

            <div class="w3-quarter">
                <div class="msig-card w3-margin">
                    <div class="w3-container">
                        <h3 class="w3-center">
                        Immobilier
                        </h3>

                        <div class="w3-container">
                            <p>
                            Une équipe est présentement en déploiement à Bali afin de prendre l'expérience nécessaire pour bien développer ce nouveau secteur d'activité
                            </p>
                            <p>
                            Il y a actuellement des opportunités disponibles pour les investisseurs qui apprécient le haut risque
                            </p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="w3-quarter">
                <div class="msig-card w3-margin">
                    <div class="w3-container">
                        <h3 class="w3-center">
                        Site web
                        </h3>

                        <div class="w3-container">
                            <p>
                            En constance évolution, nous implémentons les dernières technologies disponibles afin d'être le plus performant possible 
                            </p>
                        </div>
                    </div>
                </div>
                
                <div class="msig-card w3-margin">
                    <div class="w3-container">
                        <h3 class="w3-center">
                        Espace membres
                        </h3>

                        <div class="w3-container">
                            <p>
                            L'espace membre favorisera la compréhension et la gestion des actifs
                            </p>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</div>

{% endblock content %}