<!--
##############################################
#                                            #
#     Copyright, this script is owned by     #
#        MoneySmart Investment Group         #
#                                            #
#                                            #
#      M   M     SSS     IIIII     GGG       #
#      MM MM    S   S      I      G   G      #
#      MM MM    S          I      G          #
#      M M M     SSS       I      GGGGG      #
#      M   M        S      I      G   G      #
#      M   M    S   S      I      G   G      #
#      M   M     SSS     IIIII     GGG       #
#                                            #
#                                            #
#             All right reserved             #
# https://www.moneysmartinvestmentgroup.com  #
#                                            #
##############################################
--> 


<ul class="darkMenu">
    <li><h5>À propos</h5></li>
    <li><h5>Services</h5></li>
    <li><h5>Extra</h5></li>
    <li><h5>Communauté</h5></li>
</ul>

<ul class="darkMenu">
<li><a href="template/fr/a-propos/apropos.html">La compagnie</a></li>
<li><a href="template/fr/services-fr/forexfr.html">Forex</a></li>
<li><a href="template/fr/extra-fr/faq.html">FAQ</a></li>
<li><a href="https://www.facebook.com/MoneySmartInvestmentGroup/">Facebook</a></li>
</ul>

<ul class="darkMenu">
<li><a href="template/fr/a-propos/notrevision.html">Notre vision</a></li>
<li><a href="template/fr/services-fr/cryptomonnaies.html">Crypto</a></li>
<li><a href="template/fr/extra-fr/supportfr.html">Support</a></li>
<li><a href="https://twitter.com/MoneySmartIG">Twitter</a></li>
</ul>

<ul class="darkMenu">
<li><a href="template/fr/a-propos/conditionsdutilisation.html">Conditions d'utilisations</a></li>
<li><a href="template/fr/services-fr/immobilier.html">Gestion Immobilière</a></li>
<li><a href="template/fr/extra-fr/apprentissage.html">Apprentissage</a></li>
<li><a href="https://www.instagram.com/moneysmartinvestmentgroup/">Instagram</a></li>
</ul>

<ul class="darkMenu">
<li><a href="template/fr/a-propos/nouscontacter.html">Nous rejoindre</a></li>
<li><a href="template/fr/services-fr/gestiondeproprietes.html">Gestion de Propriété</a></li>
<li><a href="template/fr/extra-fr/positif.html">Positivisme</a></li>
<li><a href="https://t.me/CryptoSignalsOnly">Telegram</a></li>
</ul>

<ul class="darkMenu">
<li>&nbsp;</li>
<li>&nbsp;</li>
<li><a href="template/fr/extra-fr/reference.html">Référencement</a></li>
<li><a href="https://discord.gg/562UnUMbkH">Discord</a></li>
</ul>

<ul class="darkMenu">
<li>&nbsp;</li>
<li>&nbsp;</li>
<li><a href="template/fr/extra-fr/liens.html">Liens utiles</a></li>
<li>&nbsp;</li>
</ul>
