<!--
##############################################
#                                            #
#     Copyright, this script is owned by     #
#        MoneySmart Investment Group         #
#                                            #
#                                            #
#      M   M     SSS     IIIII     GGG       #
#      MM MM    S   S      I      G   G      #
#      MM MM    S          I      G          #
#      M M M     SSS       I      GGGGG      #
#      M   M        S      I      G   G      #
#      M   M    S   S      I      G   G      #
#      M   M     SSS     IIIII     GGG       #
#                                            #
#                                            #
#             All right reserved             #
# https://www.moneysmartinvestmentgroup.com  #
#                                            #
##############################################
--> 


<!-- header menu element -->

<ul class="topHeader">
    <li><img src="MSIG-Official-200px.png"></li>
    <li class="right"><button class="button buttonLogin"><a href="#">Connexion</a></button></li>
    <li class="right"><button class="button buttonRegister"><a href="#">Enregistrement</a></button></li>
</ul>