<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/msig-tech/msig-w3-css/msig.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nanum Gothic|Old Standard TT|Suez One|IM Fell English SC">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    
    <title>MSIG - Confirmation d'enregistrement de compte</title>
</head>
<body>

<h1>Confirmation de votre nouveau compte</h1>
<p>
    <ul>
        <li>Nom d'utilisateur : {{ username }}</li>
        <li>Mot de passe temporaire : {{ password }}</li>
    </ul>
</p>
<p>Le compte temporaire sera actif pour une durée de 24h et le mot de passe devra être modifier afin d'activer ton compte de façon permanente.</p>
<p>
    Merci pour ta confiance<br>
    L'équipe de MSIG
</p>

</body>
</html>
